dev/AAA - Linkedin Outreach/[AAA - Linkedin Outreach] Enrich Lead with Company and Personal Report.json
{
  "updatedAt": "2026-03-03T04:37:12.463Z",
  "createdAt": "2026-02-27T07:50:24.726Z",
  "id": "2cRBGRH4MRjl0bPP",
  "name": "[AAA - Linkedin Outreach] Enrich Lead with Company and Personal Report",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkup.so/v1/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 74df21d8-8646-4458-94c6-2a9f4e302416"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"q\": {{ $json.query.toJsonString() }},\n    \"depth\": \"standard\",\n    \"outputType\": \"structured\",\n    \"includeImages\": false,\n    \"includeSources\": false,\n    \"structuredOutputSchema\": {{ $json.structuredOutputSchema.toJsonString() }}\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3648,
        -16
      ],
      "id": "b2115834-94b5-4782-bab9-eac65f33051b",
      "name": "Search and Get Company Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-profile-detail/run-sync-get-dataset-items?token=YOUR_APIFY_API_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeEmail\": true,\n    \"username\": \"{{ $json.profileLink }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2304,
        80
      ],
      "id": "3b472f6f-8885-4317-a72f-72c978a1f642",
      "name": "Get Detail Linkedin Profile"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-company-detail/run-sync-get-dataset-items?token=YOUR_APIFY_API_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"identifier\": [\n        \"{{ $json.company_linkedin_url }}\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2976,
        -16
      ],
      "id": "a55c36fc-e987-40d3-be5b-2e91605504c5",
      "name": "Get Detail Linkedin Company"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM",
          "mode": "list",
          "cachedResultName": "AI Automation Influencers — PhantomBuster Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 135399398,
          "mode": "list",
          "cachedResultName": "Lead_List_Like",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit#gid=135399398"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -480
      ],
      "id": "448b30b6-b26a-4670-bc02-7192bee5f4e1",
      "name": "Get Likes Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM",
          "mode": "list",
          "cachedResultName": "AI Automation Influencers — PhantomBuster Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1057586632,
          "mode": "list",
          "cachedResultName": "Lead_List_Comment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit#gid=1057586632"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -272
      ],
      "id": "893179fc-b53b-42a0-aacf-8ccdb2a35e2b",
      "name": "Get Likes Lead1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1408,
        -400
      ],
      "id": "dd94500b-51ec-4959-9057-ae2edd0f3fd9",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "134135bc-ee1f-4da7-b08c-7f6107036e4d",
              "name": "profileLink",
              "value": "={{ $json.profileLink }}",
              "type": "string"
            },
            {
              "id": "090c03bb-5335-470f-8b89-1ec055daabf6",
              "name": "postUrl",
              "value": "={{ $json.postUrl }}",
              "type": "string"
            },
            {
              "id": "53c2c1ef-0a6c-49eb-a504-2373341fd68a",
              "name": "firstName",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "becef762-49fd-4988-8289-7f250de5bbcf",
              "name": "lastName",
              "value": "={{ $json.lastName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -400
      ],
      "id": "b847e669-b175-4aac-9a8c-7de5fe0d34b2",
      "name": "Set Up Lead Data"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "profileLink",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1776,
        -400
      ],
      "id": "8824bd7a-0692-4d7a-88eb-8e73a147813e",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1824,
        64
      ],
      "id": "aa401d58-de7e-474e-aa93-89c171bc231e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd4d32ea-5814-4c41-ab96-4cf97e138feb",
              "name": "profileLink",
              "value": "={{ $json.profileLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        80
      ],
      "id": "74909814-927c-4500-ba07-62e1ab47e668",
      "name": "Set Up Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd4d32ea-5814-4c41-ab96-4cf97e138feb",
              "name": "company_linkedin_url",
              "value": "={{ $json.basic_info.current_company_url  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        80
      ],
      "id": "2d235354-12fd-4f25-86a0-f145234268b6",
      "name": "Set Up Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd4d32ea-5814-4c41-ab96-4cf97e138feb",
              "name": "company_domain",
              "value": "={{ $json.links.website }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        -16
      ],
      "id": "6ed11d26-9e6d-4ca7-9d91-26fd7ea5516c",
      "name": "Set Up Data2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "90f3236d-fdbc-45c2-b35d-28052e706ece",
              "leftValue": "={{ $json.company_linkedin_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2752,
        80
      ],
      "id": "270d1f6f-800c-47e5-9af6-ef2b99be6805",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41d2a0dc-1684-4eed-b0f6-86f35488e6cb",
              "name": "query",
              "value": "=Analyze the company behind  {{ $json.company_domain }}\n.  Return only a valid JSON object following this schema:\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\":        { \"type\": \"string\" },\n    \"industry\":            { \"type\": \"string\" },\n    \"business_model\":      { \"type\": \"string\" },\n    \"target_customers\":    { \"type\": \"string\" },\n    \"core_services\":       { \"type\": \"array\",  \"items\": { \"type\": \"string\" } },\n    \"geographic_focus\":    { \"type\": \"string\" },\n    \"notable_recognition\": { \"type\": \"string\" },\n    \"tech_stack\":          { \"type\": \"array\",  \"items\": { \"type\": \"string\" } }\n  }\n}\n\nBe factual and concise. Use publicly available web sources only.",
              "type": "string"
            },
            {
              "id": "053f3886-05f1-4b3d-b1a2-beefbae6f1dd",
              "name": "structuredOutputSchema",
              "value": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\",\n      \"description\": \"Official company or organization name\"\n    },\n    \"industry\": {\n      \"type\": \"string\",\n      \"description\": \"Primary industry classification\"\n    },\n    \"business_model\": {\n      \"type\": \"string\",\n      \"description\": \"How the organization operates and generates funding or revenue\"\n    },\n    \"target_customers\": {\n      \"type\": \"string\",\n      \"description\": \"Primary audience or customer segments served\"\n    },\n    \"core_services\": {\n      \"type\": \"array\",\n      \"description\": \"Main services or offerings provided\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"geographic_focus\": {\n      \"type\": \"string\",\n      \"description\": \"Primary geographic area of operation\"\n    },\n    \"notable_recognition\": {\n      \"type\": \"string\",\n      \"description\": \"Awards, media mentions, or notable recognition\"\n    },\n    \"tech_stack\": {\n      \"type\": \"array\",\n      \"description\": \"Detected or publicly referenced technologies used by the organization (e.g., CMS, frameworks, analytics, hosting,social media)\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"company_name\",\n    \"industry\",\n    \"business_model\",\n    \"target_customers\",\n    \"core_services\",\n    \"geographic_focus\",\n    \"notable_recognition\",\n    \"tech_stack\"\n  ]\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3424,
        -16
      ],
      "id": "1a126ca9-b84e-4170-ab54-b9ca90701baf",
      "name": "Set Up Data3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24071d7d-f428-44b9-b002-7626efc82cfe",
              "name": "fullname",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.fullname }}",
              "type": "string"
            },
            {
              "id": "3a689d2f-b7ef-409d-9135-c78ed2d5d7dd",
              "name": "first_name",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.first_name }}",
              "type": "string"
            },
            {
              "id": "34bbf865-af50-4383-aec7-948a0014ffa6",
              "name": "last_name",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.last_name }}",
              "type": "string"
            },
            {
              "id": "7df9b0b7-3e74-45da-90a8-76baf2410728",
              "name": "headline",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.headline }}",
              "type": "string"
            },
            {
              "id": "6db30243-2381-4153-99c5-721d835a27e4",
              "name": "about",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.about }}",
              "type": "string"
            },
            {
              "id": "46b2a400-a6b0-4f1e-a6f2-8b2c8bd66b9c",
              "name": "current_company_url",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.current_company_url }}",
              "type": "string"
            },
            {
              "id": "8953169b-17f5-40d3-ada5-59864b98c74f",
              "name": "location",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.location.full }}",
              "type": "string"
            },
            {
              "id": "098ef797-14d7-42b7-b1ec-cdf41c821711",
              "name": "open_to_work",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.open_to_work }}",
              "type": "boolean"
            },
            {
              "id": "895398c0-583e-4d21-87ca-75c18be30698",
              "name": "=current_experience",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.experience.find(exp => exp.is_current === true) }}",
              "type": "object"
            },
            {
              "id": "a25fe912-aed0-4863-aa4c-dc1e8a345a50",
              "name": "company_name",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.name }}",
              "type": "string"
            },
            {
              "id": "f0725b40-af9f-4d1c-b606-9a056dc2053f",
              "name": "company_website",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.website }}",
              "type": "string"
            },
            {
              "id": "55a010c7-bd91-42a8-aa4f-0a378fe9ebcc",
              "name": "company_linkedin_url",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.linkedin_url }}",
              "type": "string"
            },
            {
              "id": "28ca0fa3-0647-4834-93bb-7a4b1e289b80",
              "name": "company_linkedin_description",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.description }}",
              "type": "string"
            },
            {
              "id": "9c0d9a54-99d6-4ae1-b7fa-74c0c0fd6d87",
              "name": "company_linkedin_industry",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.industries[0] }}",
              "type": "string"
            },
            {
              "id": "42acb6c6-83b0-4af8-81b8-fca2dcd775c8",
              "name": "websearch_industry",
              "value": "={{ $('Search and Get Company Info').item.json.industry }}",
              "type": "string"
            },
            {
              "id": "8c4c3ec2-2665-442a-b731-c1b4a9bdaad8",
              "name": "business_model",
              "value": "={{ $('Search and Get Company Info').item.json.business_model }}",
              "type": "string"
            },
            {
              "id": "dca8f65c-b15b-4f6e-94fc-e052fda61de3",
              "name": "target_customers",
              "value": "={{ $('Search and Get Company Info').item.json.target_customers }}",
              "type": "string"
            },
            {
              "id": "90314bc4-ca8a-47e2-8036-e91b742b3fc3",
              "name": "core_services",
              "value": "={{ $('Search and Get Company Info').item.json.core_services }}",
              "type": "array"
            },
            {
              "id": "20302988-f882-4b87-9c1f-f5240fdba9e9",
              "name": "geographic_focus",
              "value": "={{ $('Search and Get Company Info').item.json.geographic_focus }}",
              "type": "string"
            },
            {
              "id": "7e637509-538f-412c-a590-9887d066d301",
              "name": "notable_recognition",
              "value": "={{ $('Search and Get Company Info').item.json.notable_recognition }}",
              "type": "string"
            },
            {
              "id": "87461e6f-84af-4a7a-9c4a-503b32f44688",
              "name": "tech_stack",
              "value": "={{ $('Search and Get Company Info').item.json.tech_stack }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3872,
        -16
      ],
      "id": "76daf02d-bf55-4308-905c-c00d387f58ca",
      "name": "Set Info Lead After EnRich"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4096,
        208
      ],
      "id": "3be091c4-72ad-42a8-a9fb-9ae55e6feb3f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LXsDMPbRDPagvrBN",
          "name": "Brad's OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input:\n{{ JSON.stringify( $input.item.json ) }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# ROLE\nYou are a senior B2B outbound strategist writing highly personalized LinkedIn connection messages (under 300 characters).\n\nYour task is to craft ONE natural, intelligent outreach message that feels context-aware — not templated.\n\n## RULE\nAngle Selection:\n\nChoose the strongest angle based on context:\n\n• Pain-point insight\n• Role-specific pressure\n• Trigger-event observation\n\nDo not force a structure. Let the angle determine the flow.\n\nMandatory Rules:\n• MUST start with: Hi [First Name],\n• Never omit the greeting\n• Do NOT start the second sentence with “I”\n• One short observation only\n• One positioning line\n• One CTA sentence only\n• Under 300 characters\n\nTone Rules:\n• Lead with them\n• Avoid assumptions like “must be,” “massive,” “huge,” “game-changing”\n• Avoid benefit-heavy fluff\n• Avoid corporate jargon\n• Keep it sharp and modern\n• Avoid sounding like a template\n\nCTA Rules (Critical):\n• The ONLY CTA is a complimentary / free AI audit\n• Exactly ONE CTA sentence\n• Do NOT stack CTAs\n• Do NOT explain the audit\n• Do NOT add “quick chat” or meeting asks\n\nCTA Tone Calibration (learn the rhythm — don’t copy verbatim):\n• Let me know if you'd like your own free AI audit.\n• I’d be happy to offer a no-cost AI audit.\n• If helpful, I can run a complimentary AI audit.\n• Happy to share a free AI audit.\n• I’m offering complimentary AI audits — glad to send one over.\n\n## Strategic Angle Reference Examples (style only — never copy directly):\n\nPain-point style:\nHi {first_name}, noticed {company} is scaling — congrats. Teams at that stage often burn hours on manual workflows AI can handle faster. Let me know if you'd like your own free AI audit.\n\nRole-pressure style:\nHey {first_name}, as {job_title} at {company}, you're likely hearing “do more with less.” We help automate repetitive work so teams stay focused. I’d be happy to offer a no-cost AI audit.\n\nTrigger-event style:\nHi {first_name}, saw {company} just {recent_trigger}. That usually adds operational complexity fast. We build AI automations to keep things tight. If helpful, I can run a complimentary AI audit.\n\nOutput Requirements:\n\n• Output only the final LinkedIn message\n• No Markdown\n• No headings\n• No explanation\n• No JSON\n• One message only\n• Under 300 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4880,
        -16
      ],
      "id": "4e9a54a7-3ea8-4687-b39d-01f0cbf2a128",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following lead and company data:\n\n{{ JSON.stringify($input.item.json) }}\n\nIdentify:\n\n1. The top 3 deeply relevant operational pain points this person is likely experiencing.\n   Each pain must include:\n   - pain_title\n   - why_this_is_likely (role-based reasoning)\n   - operational_symptom (what happens day-to-day)\n   - business_impact\n\n2. ONE primary pain point that:\n   - Has the strongest strategic and emotional impact\n   - Creates pressure on performance or career visibility",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a senior B2B sales strategist and buyer psychology analyst.\n\nYour job is to analyze LinkedIn profile data and company information to identify practical, realistic pain points.\n\nPain points must be:\n\nOperational and grounded in daily work\n\nClearly connected to the person’s role and responsibilities\n\nUnderstandable in plain business language\n\nPotentially solvable through automation, CRM improvement, workflow redesign, or system integration\n\nWhen analyzing:\n\nFocus on what this person likely deals with day-to-day\n\nIdentify manual work, coordination burden, reporting friction, follow-up overload, system switching, or time drain\n\nHighlight pressure tied to revenue, retention, fundraising, renewals, or executive visibility\n\nAvoid abstract strategy language\n\nAvoid vague phrases like “growth challenges” or “strategic complexity”\n\nPain titles must:\n\nBe clear and specific\n\nDescribe a concrete problem (not a theme)\n\nSound like something the person would actually say\n\nAvoid buzzwords and dramatic phrasing\n\nBad example:\n\"Strategic misalignment affecting organizational scalability\"\n\nGood example:\n\"Spending hours manually updating donor records across multiple systems\"\n\nRules:\n\nDo NOT invent internal metrics or confidential data.\n\nBase reasoning strictly on provided profile and company information.\n\nKeep explanations practical and readable.\n\nAvoid overly emotional or dramatic wording.\n\nWrite like a consultant describing workflow friction — not like a motivational speaker.\n\nIMPORTANT LOGIC RULE:\n\nGenerate exactly three pain points in top_3_pain_points.\n\nThe primary_pain_point MUST be selected from one of those three.\n\nReuse the exact pain_title from the selected item.\n\nDo NOT create a new pain for the primary.\n\nprimary_pain_point.pain_title must match exactly one of the three titles.\n\nReturn only valid JSON in this structure:\n\n{\n\"top_3_pain_points\": [\n{\n\"pain_title\": \"\",\n\"why_this_is_likely\": \"\",\n\"business_impact\": \"\"\n}\n],\n\"primary_pain_point\": {\n\"pain_title\": \"\",\n\"why_this_is_primary\": \"\",\n\"business_risk_if_unsolved\": \"\"\n}\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4128,
        -16
      ],
      "id": "366f9dae-d3b9-4c81-b408-61963c4d8bfb",
      "name": "Generate Pain Point"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a2b7216-7554-4438-a2bc-bcf38f98e4be",
              "name": "pain_point",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "f8e8d951-9d67-4d02-9f0c-20bbf9257585",
              "name": "info_lead",
              "value": "={{ $('Set Info Lead After EnRich').item.json  }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4592,
        -16
      ],
      "id": "90189fe2-e08f-4788-aa66-c0106480dc58",
      "name": "Set Up Personal Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4816,
        208
      ],
      "id": "0dff58ec-24fd-4104-9626-ebc31595d139",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LXsDMPbRDPagvrBN",
          "name": "Brad's OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6032,
        384
      ],
      "id": "d432787f-1a55-4eb0-9461-c23260dfec54",
      "name": "Wait",
      "webhookId": "fe6ce549-0c61-4a9a-804f-10842b8b5ab3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ce04a8e-3ae3-48ec-b4d5-b34b4191b60c",
              "name": "postUrl",
              "value": "={{ $('Loop Over Items').item.json.postUrl }}",
              "type": "string"
            },
            {
              "id": "24071d7d-f428-44b9-b002-7626efc82cfe",
              "name": "fullname",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.fullname }}",
              "type": "string"
            },
            {
              "id": "ad9569c0-cde7-4bc2-8cad-a434043e9bcb",
              "name": "profileLink",
              "value": "={{ $('Loop Over Items').item.json.profileLink }}",
              "type": "string"
            },
            {
              "id": "3a689d2f-b7ef-409d-9135-c78ed2d5d7dd",
              "name": "first_name",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.first_name }}",
              "type": "string"
            },
            {
              "id": "34bbf865-af50-4383-aec7-948a0014ffa6",
              "name": "last_name",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.last_name }}",
              "type": "string"
            },
            {
              "id": "7df9b0b7-3e74-45da-90a8-76baf2410728",
              "name": "headline",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.headline }}",
              "type": "string"
            },
            {
              "id": "6db30243-2381-4153-99c5-721d835a27e4",
              "name": "about",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.about }}",
              "type": "string"
            },
            {
              "id": "46b2a400-a6b0-4f1e-a6f2-8b2c8bd66b9c",
              "name": "current_company_url",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.current_company_url }}",
              "type": "string"
            },
            {
              "id": "8953169b-17f5-40d3-ada5-59864b98c74f",
              "name": "location",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.location.full }}",
              "type": "string"
            },
            {
              "id": "098ef797-14d7-42b7-b1ec-cdf41c821711",
              "name": "open_to_work",
              "value": "={{ $('Get Detail Linkedin Profile').item.json.basic_info.open_to_work }}",
              "type": "boolean"
            },
            {
              "id": "895398c0-583e-4d21-87ca-75c18be30698",
              "name": "=current_experience",
              "value": "={{\n(() => {\n  const experiences = $('Get Detail Linkedin Profile').item.json.experience || [];\n  const exp = experiences.find(e => e.is_current === true);\n\n  if (!exp) return '';\n\n  return `Current Experience:\n• Title: ${exp.title || ''}\n• Company: ${exp.company || ''}\n• Employment Type: ${exp.employment_type || ''}\n• Duration: ${exp.duration || ''}`;\n})()\n}}",
              "type": "string"
            },
            {
              "id": "a25fe912-aed0-4863-aa4c-dc1e8a345a50",
              "name": "company_name",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.name }}",
              "type": "string"
            },
            {
              "id": "f0725b40-af9f-4d1c-b606-9a056dc2053f",
              "name": "company_website",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.website }}",
              "type": "string"
            },
            {
              "id": "55a010c7-bd91-42a8-aa4f-0a378fe9ebcc",
              "name": "company_linkedin_url",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.linkedin_url }}",
              "type": "string"
            },
            {
              "id": "28ca0fa3-0647-4834-93bb-7a4b1e289b80",
              "name": "company_linkedin_description",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.description }}",
              "type": "string"
            },
            {
              "id": "9c0d9a54-99d6-4ae1-b7fa-74c0c0fd6d87",
              "name": "company_linkedin_industry",
              "value": "={{ $('Get Detail Linkedin Company').item.json.basic_info.industries[0] }}",
              "type": "string"
            },
            {
              "id": "42acb6c6-83b0-4af8-81b8-fca2dcd775c8",
              "name": "websearch_industry",
              "value": "={{ $('Search and Get Company Info').item.json.industry }}",
              "type": "string"
            },
            {
              "id": "8c4c3ec2-2665-442a-b731-c1b4a9bdaad8",
              "name": "business_model",
              "value": "={{ $('Search and Get Company Info').item.json.business_model }}",
              "type": "string"
            },
            {
              "id": "dca8f65c-b15b-4f6e-94fc-e052fda61de3",
              "name": "target_customers",
              "value": "={{ $('Search and Get Company Info').item.json.target_customers }}",
              "type": "string"
            },
            {
              "id": "90314bc4-ca8a-47e2-8036-e91b742b3fc3",
              "name": "core_services",
              "value": "={{\n(() => {\n  const services = $('Search and Get Company Info').item.json.core_services || [];\n\n  if (!Array.isArray(services) || services.length === 0) return '';\n\n  return services\n    .map(service => `• ${service}`)\n    .join('\\n');\n})()\n}}",
              "type": "string"
            },
            {
              "id": "20302988-f882-4b87-9c1f-f5240fdba9e9",
              "name": "geographic_focus",
              "value": "={{ $('Search and Get Company Info').item.json.geographic_focus }}",
              "type": "string"
            },
            {
              "id": "7e637509-538f-412c-a590-9887d066d301",
              "name": "notable_recognition",
              "value": "={{ $('Search and Get Company Info').item.json.notable_recognition }}",
              "type": "string"
            },
            {
              "id": "7eb0ee2d-310b-41fb-aaff-fadbbaae6bc6",
              "name": "top_pain_point",
              "value": "={{\n(() => {\n  const painArray = $('Generate Pain Point').item.json.output.top_3_pain_points || [];\n\n  if (!Array.isArray(painArray) || painArray.length === 0) return '';\n\n  return painArray\n    .map(pain => \n`• ${pain.pain_title || ''}`\n    )\n    .join('\\n');\n})()\n}}",
              "type": "string"
            },
            {
              "id": "5d4753cd-ef35-43d6-ab52-38b4800e0413",
              "name": "personal_report",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5280,
        -16
      ],
      "id": "c79f36ed-3a6b-40a3-acfa-eb6a9415dbc7",
      "name": "Set Info Lead After EnRich1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_company_url",
              "displayName": "current_company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "open_to_work",
              "displayName": "open_to_work",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_experience",
              "displayName": "current_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_linkedin_url",
              "displayName": "company_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_linkedin_description",
              "displayName": "company_linkedin_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_linkedin_industry",
              "displayName": "company_linkedin_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "websearch_industry",
              "displayName": "websearch_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_model",
              "displayName": "business_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "target_customers",
              "displayName": "target_customers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "core_services",
              "displayName": "core_services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "geographic_focus",
              "displayName": "geographic_focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notable_recognition",
              "displayName": "notable_recognition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top_pain_point",
              "displayName": "top_pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primary_pain_point",
              "displayName": "primary_pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personal_report",
              "displayName": "personal_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5504,
        -16
      ],
      "id": "20970355-37af-4130-a8b3-70f4d2040eb5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1600,
        64
      ],
      "id": "c3e35b88-424d-497e-a1eb-bb332f85fa9a",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1314869077,
          "mode": "list",
          "cachedResultName": "Raw Lead Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1314869077"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "postUrl"
          ],
          "schema": [
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        -400
      ],
      "id": "e1bfa596-0d43-435d-bdc8-243d4042b107",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1314869077,
          "mode": "list",
          "cachedResultName": "Raw Lead Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1314869077"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "is_error",
              "lookupValue": "false"
            },
            {
              "lookupColumn": "is_enrich",
              "lookupValue": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        64
      ],
      "id": "a70b877e-80c1-4325-9ba1-b4b6fa562b15",
      "name": "Get Combine Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1120,
        64
      ],
      "id": "64e010e7-befa-46a3-9932-e78a0fc3e0cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1314869077,
          "mode": "list",
          "cachedResultName": "Raw Lead Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1314869077"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_enrich": "true",
            "profileLink": "={{ $('Set Up Data').item.json.profileLink }}"
          },
          "matchingColumns": [
            "profileLink"
          ],
          "schema": [
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_enrich",
              "displayName": "is_enrich",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5728,
        -16
      ],
      "id": "4574da06-9265-46c3-8019-0d9a74c42b2d",
      "name": "Mark as Enrich",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1314869077,
          "mode": "list",
          "cachedResultName": "Raw Lead Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1314869077"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_error": "true",
            "is_error_message": "Company Linkedin URL not found",
            "profileLink": "={{ $('Set Up Data').item.json.profileLink }}"
          },
          "matchingColumns": [
            "profileLink"
          ],
          "schema": [
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_enrich",
              "displayName": "is_enrich",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_error",
              "displayName": "is_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_error_message",
              "displayName": "is_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2976,
        240
      ],
      "id": "5ed13608-399b-469d-8666-e9eafd762842",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3200,
        240
      ],
      "id": "1a8d1d30-a3e4-4735-8327-f60e4947879e",
      "name": "Wait1",
      "webhookId": "a64ee17b-f7d2-4238-8efd-dfc107aa0388"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4304,
        416
      ],
      "id": "7c8654ad-6cca-4a7b-8213-d9dec7dfe364",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LXsDMPbRDPagvrBN",
          "name": "Brad's OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"top_3_pain_points\": [\n    {\n      \"pain_title\": \"\",\n      \"why_this_is_likely\": \"\",\n      \"business_impact\": \"\"\n    }\n  ],\n  \"primary_pain_point\": {\n    \"pain_title\": \"\",\n    \"why_this_is_primary\": \"\",\n    \"business_risk_if_unsolved\": \"\"\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4224,
        208
      ],
      "id": "673c84d0-0a86-4811-a6cd-723348f8f3e1",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Get Likes Lead": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Likes Lead1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Up Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Lead Data": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set Up Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Data": {
      "main": [
        [
          {
            "node": "Get Detail Linkedin Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Data1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Detail Linkedin Profile": {
      "main": [
        [
          {
            "node": "Set Up Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Detail Linkedin Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Detail Linkedin Company": {
      "main": [
        [
          {
            "node": "Set Up Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Data2": {
      "main": [
        [
          {
            "node": "Set Up Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Data3": {
      "main": [
        [
          {
            "node": "Search and Get Company Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search and Get Company Info": {
      "main": [
        [
          {
            "node": "Set Info Lead After EnRich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Info Lead After EnRich": {
      "main": [
        [
          {
            "node": "Generate Pain Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Pain Point",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Pain Point": {
      "main": [
        [
          {
            "node": "Set Up Personal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Personal Data": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Set Info Lead After EnRich1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Info Lead After EnRich1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Mark as Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Get Combine Lead": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Combine Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Enrich": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Pain Point",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6878366b-ead5-4e86-a898-866cb6a1bb13",
  "activeVersionId": null,
  "versionCounter": 125,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-27T07:50:24.731Z",
      "createdAt": "2026-02-27T07:50:24.731Z",
      "role": "workflow:owner",
      "workflowId": "2cRBGRH4MRjl0bPP",
      "projectId": "JNBCQ8yj8IGyBMFc",
      "project": {
        "updatedAt": "2025-10-16T10:10:07.615Z",
        "createdAt": "2025-10-16T10:10:04.040Z",
        "id": "JNBCQ8yj8IGyBMFc",
        "name": "Engineering Team <engineer@automationarchitecture.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9a64c033-ffc9-41e6-a191-376ec8544b77"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}