dev/AAA - Linkedin Outreach/AAA - Linkedin Outreach - Dev - Import Google Sheet Leads to HeyReach and Campaign.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        512
      ],
      "id": "9c8ad742-dcab-4b74-88fe-ad402643b432",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "batchSize": 15,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        512
      ],
      "id": "33b14efe-a082-41a9-a7af-75d84079b0bc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "567c62c4-4f73-4127-bc54-2161b6d25db1",
              "name": "campaignId",
              "value": "=112",
              "type": "string"
            },
            {
              "id": "d1bc32c8-9c35-4584-9063-3d4c18db74ad",
              "name": "account_id",
              "value": "=3123",
              "type": "string"
            },
            {
              "id": "3ce1ddf2-d44b-4664-8f71-a0b8e07b4982",
              "name": "sheet_name",
              "value": "Sheet3",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        512
      ],
      "id": "e7e9a6dd-33e2-44aa-a5ff-90d7f6371a1e",
      "name": "Global Variable"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        608
      ],
      "id": "4fb5da14-ddf6-494b-a229-30eb0c74f061",
      "name": "Wait",
      "webhookId": "abd7158b-e4a2-4ccc-84ef-46583639d203"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "010c1243-4b39-4553-8c65-783d064c2128",
              "leftValue": "={{ $json.profileLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        960,
        512
      ],
      "id": "77e62f58-39ef-4e5d-9f20-c0d40a9b9a05",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "a2",
              "name": "is_import_to_campagin",
              "value": "={{ $json.is_import_to_campagin }}",
              "type": "boolean"
            },
            {
              "id": "a3",
              "name": "repied_status",
              "value": "={{ $json.repied_status }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "is_error",
              "value": "={{ $json.is_error }}",
              "type": "boolean"
            },
            {
              "id": "a5",
              "name": "is_error_message",
              "value": "={{ $json.is_error_message }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "postUrl",
              "value": "={{ $json.postUrl }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "fullname",
              "value": "={{ $json.fullname }}",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "profileLink",
              "value": "={{ $json.profileLink }}",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "first_name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "a10",
              "name": "last_name",
              "value": "={{ $json.last_name }}",
              "type": "string"
            },
            {
              "id": "a11",
              "name": "headline",
              "value": "={{ $json.headline }}",
              "type": "string"
            },
            {
              "id": "a12",
              "name": "about",
              "value": "={{ $json.about }}",
              "type": "string"
            },
            {
              "id": "a13",
              "name": "current_company_url",
              "value": "={{ $json.current_company_url }}",
              "type": "string"
            },
            {
              "id": "a14",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "a15",
              "name": "open_to_work",
              "value": "={{ $json.open_to_work }}",
              "type": "boolean"
            },
            {
              "id": "a16",
              "name": "current_experience",
              "value": "={{ $json.current_experience }}",
              "type": "string"
            },
            {
              "id": "a17",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            },
            {
              "id": "a18",
              "name": "company_website",
              "value": "={{ $json.company_website }}",
              "type": "string"
            },
            {
              "id": "a19",
              "name": "company_linkedin_url",
              "value": "={{ $json.company_linkedin_url }}",
              "type": "string"
            },
            {
              "id": "a20",
              "name": "company_linkedin_description",
              "value": "={{ $json.company_linkedin_description }}",
              "type": "string"
            },
            {
              "id": "a21",
              "name": "company_linkedin_industry",
              "value": "={{ $json.company_linkedin_industry }}",
              "type": "string"
            },
            {
              "id": "a22",
              "name": "websearch_industry",
              "value": "={{ $json.websearch_industry }}",
              "type": "string"
            },
            {
              "id": "a23",
              "name": "business_model",
              "value": "={{ $json.business_model }}",
              "type": "string"
            },
            {
              "id": "a24",
              "name": "target_customers",
              "value": "={{ $json.target_customers }}",
              "type": "string"
            },
            {
              "id": "a25",
              "name": "core_services",
              "value": "={{ $json.core_services }}",
              "type": "string"
            },
            {
              "id": "a26",
              "name": "geographic_focus",
              "value": "={{ $json.geographic_focus }}",
              "type": "string"
            },
            {
              "id": "a27",
              "name": "notable_recognition",
              "value": "={{ $json.notable_recognition }}",
              "type": "string"
            },
            {
              "id": "a28",
              "name": "top_pain_point",
              "value": "={{ $json.top_pain_point }}",
              "type": "string"
            },
            {
              "id": "a29",
              "name": "personal_report",
              "value": "={{ $json.personal_report }}",
              "type": "string"
            },
            {
              "id": "a30",
              "name": "email",
              "value": "={{ $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "a31",
              "name": "linkedin_url",
              "value": "={{ $json.profileLink }}",
              "type": "string"
            },
            {
              "id": "a32",
              "name": "position",
              "value": "={{ $json.headline }}",
              "type": "string"
            },
            {
              "id": "a33",
              "name": "company_link",
              "value": "={{ $json.company_linkedin_url }}",
              "type": "string"
            },
            {
              "id": "a34",
              "name": "company_domain",
              "value": "={{ $json.company_website }}",
              "type": "string"
            },
            {
              "id": "a35",
              "name": "unique_id",
              "value": "={{ $json.profileLink || $json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        624
      ],
      "id": "6b6c63f8-eb80-4231-bfe3-e5eed7fbb093",
      "name": "Set Data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "lead_list",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1712,
        624
      ],
      "id": "9dd32a9b-691f-461a-97d9-333b252e4e22",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const campaignId = $('Global Variable').first().json.campaignId;\nconst accountId = $('Global Variable').first().json.account_id;\nconst leads = $input.first().json.lead_list;\n\nconst accountLeadPairs = leads.map(lead => ({\n  lead: {\n    firstName: lead.first_name || \"\",\n    lastName: lead.last_name || \"\",\n    profileUrl: lead.linkedin_url || \"\",\n    location: lead.location || \"\",\n    companyName: lead.company_name || \"\",\n    position: lead.position || \"\",\n    emailAddress: lead.email || \"\",\n    customUserFields: [\n      { name: \"unique_id\", value: lead.unique_id || \"\" },\n      { name: \"company_domain\", value: lead.company_domain || \"\" },\n      { name: \"company_link\", value: lead.company_link || \"\" },\n      { name: \"first_name\", value: lead.first_name || \"\" },\n      { name: \"last_name\", value: lead.last_name || \"\" }\n    ]\n  },\n  linkedInAccountId: accountId\n}));\n\nreturn {\n  json: {\n    payload: {\n      campaignId,\n    resumeFinishedCampaign: false,\n    resumePausedCampaign: false,\n    accountLeadPairs\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        624
      ],
      "id": "5a17d7fe-fb4e-427b-b45b-a53a9cb804d4",
      "name": "Lead List Transform Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heyreach.io/api/public/campaign/AddLeadsToCampaignV2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        624
      ],
      "id": "d0de7028-b193-4ff3-af4c-e9e7ef4163a3",
      "name": "Hey Reach Campagin",
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dz75OHvLF3MFJwSe",
          "name": "AAA Brad HeyReach"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1793713292,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1793713292"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        512
      ],
      "id": "17e693ca-e2bc-4deb-aaa8-b3cbc1a9cd20",
      "name": "Get Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Variable').item.json.sheet_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_import_to_campagin": "true",
            "profileLink": "={{ $('Set Data').item.json.profileLink }}"
          },
          "matchingColumns": [
            "profileLink"
          ],
          "schema": [
            {
              "id": "is_import_to_campagin",
              "displayName": "is_import_to_campagin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2624,
        608
      ],
      "id": "28ca8190-c780-4f80-b28a-26b94d294f9c",
      "name": "Mark as import",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfdd8b1f-7cca-481b-b637-cd2dd3407d86",
              "name": "is_error",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "4b24dc7d-f38e-433f-8c2f-faf6f3bc6264",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        832
      ],
      "id": "0542f383-d614-4f3f-835d-98c5de821c21",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2832,
        832
      ],
      "id": "05e3758b-1ef5-40f6-b7a3-8a6ac9fa7549",
      "name": "Wait1",
      "webhookId": "1d71e5d3-bf7a-4aae-af2c-570cc94bb0b9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Global Variable').item.json.sheet_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_import_to_campagin": "false",
            "profileLink": "={{ $('Set Data').item.json.profileLink }}",
            "is_error": "={{ $json.is_error }}",
            "is_error_message": "={{ $json.error_message }}"
          },
          "matchingColumns": [
            "profileLink"
          ],
          "schema": [
            {
              "id": "is_import_to_campagin",
              "displayName": "is_import_to_campagin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_error",
              "displayName": "is_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_error_message",
              "displayName": "is_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2624,
        832
      ],
      "id": "c18862c3-c2ed-4dbc-803d-7bda0073d5c2",
      "name": "Mark as error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw_url = $input.first().json.profileLink;\n\nfunction normalizeLinkedInUrl(url) {\n  if (!url || typeof url !== 'string') return '';\n  let s = url.trim();\n  if (!s) return '';\n  // Trailing junk\n  s = s.replace(/\\?+$/g, '').replace(/\\/+$/g, '');\n  // Username only\n  if (!s.includes('/') && !s.includes('.')) {\n    const user = s.replace(/^\\/+|\\/+$/g, '');\n    return 'https://www.linkedin.com/in/' + user;\n  }\n  try {\n    const href = /^https?:\\/\\//i.test(s) ? s : 'https://' + s.replace(/^\\/+/, '');\n    const u = new URL(href);\n    const path = u.pathname.replace(/^\\/+|\\/+$/g, '');\n    const inMatch = path.match(/^in\\/([^/?]+)/i);\n    const companyMatch = path.match(/^company\\/([^/?]+)/i);\n    const out = inMatch\n      ? 'https://www.linkedin.com/in/' + inMatch[1]\n      : companyMatch\n        ? 'https://www.linkedin.com/company/' + companyMatch[1]\n        : 'https://www.linkedin.com/' + path;\n    return out.replace(/\\?+$/g, '').replace(/\\/+$/g, '');\n  } catch (_) {\n    return s;\n  }\n}\n\nreturn { json: { linkedin: normalizeLinkedInUrl(raw_url) } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        272
      ],
      "id": "8d9f8f85-3bae-423a-b820-f603489ca8d2",
      "name": "Normalize Linkedin URL1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1793713292,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1793713292"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "current_company_url": "={{ $('Get Leads').item.json.current_company_url }}",
            "profileLink": "={{ $json.linkedin }}"
          },
          "matchingColumns": [
            "current_company_url"
          ],
          "schema": [
            {
              "id": "is_import_to_campagin",
              "displayName": "is_import_to_campagin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repied_status",
              "displayName": "repied_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_error",
              "displayName": "is_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_error_message",
              "displayName": "is_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_company_url",
              "displayName": "current_company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "open_to_work",
              "displayName": "open_to_work",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_experience",
              "displayName": "current_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin_url",
              "displayName": "company_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin_description",
              "displayName": "company_linkedin_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin_industry",
              "displayName": "company_linkedin_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "websearch_industry",
              "displayName": "websearch_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "business_model",
              "displayName": "business_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "target_customers",
              "displayName": "target_customers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "core_services",
              "displayName": "core_services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "geographic_focus",
              "displayName": "geographic_focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notable_recognition",
              "displayName": "notable_recognition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "top_pain_point",
              "displayName": "top_pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "personal_report",
              "displayName": "personal_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        272
      ],
      "id": "19f1b12e-2807-4f7b-8b95-dec4df6032f7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "current_company_url",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        736,
        512
      ],
      "id": "6f9be7d2-d98f-4fd5-8391-b437d9a33dc6",
      "name": "Remove Duplicates"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Global Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Variable": {
      "main": [
        [
          {
            "node": "Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Mark as import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Normalize Linkedin URL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Lead List Transform Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead List Transform Payload": {
      "main": [
        [
          {
            "node": "Hey Reach Campagin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hey Reach Campagin": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as import": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Mark as error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as error": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Linkedin URL1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea5c0295650c80416bb520af9de6a798604fd397d57287a29050a349ae2b014c"
  }
}