dev/AAA - Linkedin Outreach/AAA - Linkedin Outreach - Dev - Webhook HeyReach add to HubSpot CRM.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aaa-heyreach-to-hubspot",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "95f0f215-bb21-4dd7-abc4-f2159b196745",
      "name": "Webhook HeyReach",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4400,
        544
      ],
      "webhookId": "heyreach-to-hubspot-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "w4",
              "name": "linkedin",
              "value": "={{ $json.linkedin }}",
              "type": "string"
            },
            {
              "id": "a2724366-cc93-494b-882c-6e2ae925d01f",
              "name": "replied_msg",
              "value": "={{ $('Webhook HeyReach').item.json.body.recent_messages.find(item => item.is_reply == true).message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eddda318-beb5-42a3-9e7f-4a400baf5e09",
      "name": "Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3952,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.results ? Object.keys($json.results).length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt",
                "name": "filter.operator.gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87a1893c-25cf-4b28-a0e6-ee32c1db9fd8",
      "name": "IF Company Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        544
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "name": "={{ $json.company_name || 'Unknown' }}",
        "additionalFields": {
          "aboutUs": "={{ $json.company_linkedin_description }}",
          "linkedInCompanyPage": "={{ $json.company_linkedin_url }}",
          "websiteUrl": "={{ $json.company_website }}"
        }
      },
      "id": "2e7875bb-257f-4946-b397-1857b0366e3d",
      "name": "HubSpot Create Company",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -2416,
        752
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "up1Pf7iYDffpdnnj",
          "name": "AAA Engineer PROD"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sc8",
              "name": "company_name",
              "value": "={{ $('Set Lead Data').item.json.company_name }}",
              "type": "string"
            },
            {
              "id": "e9e77ce6-6738-41a3-9392-26799687b40a",
              "name": "company_website",
              "value": "={{ $('Set Lead Data').item.json.company_website }}",
              "type": "string"
            },
            {
              "id": "3f2e924c-3c98-4a22-96e4-a0f11c0bd5de",
              "name": "company_linkedin_url",
              "value": "={{ $('Set Lead Data').item.json.company_linkedin_url }}",
              "type": "string"
            },
            {
              "id": "c13132ba-830a-4688-b9da-221cea24e390",
              "name": "company_linkedin_description",
              "value": "={{ $('Set Lead Data').item.json.company_linkedin_description }}",
              "type": "string"
            },
            {
              "id": "5125de4e-70ec-4d43-a8b1-4d74d14074da",
              "name": "company_linkedin_industry",
              "value": "={{ $('Set Lead Data').item.json.company_linkedin_industry }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8cbf39f8-f2bb-4493-b239-7314b3f6c1e2",
      "name": "Set Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        688
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A97QA0T8R",
          "mode": "list",
          "cachedResultName": "linkedin-outreach-sprint"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \"☘️ New Deals from Lead Reply\", \"emoji\": true }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $json.full_name }}* · {{ $json.deal_name }}\\n\\n{{ $json.reply_msg }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"View in HubSpot\", \"emoji\": true },\n          \"url\": \"{{ $json.deal_link }}\",\n          \"style\": \"primary\"\n        }\n      ]\n    }\n  ]\n}",
        "text": "=☘️ New Deals from Lead Reply",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a8cfd747-89d6-411f-b07b-0ee2334664cb",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -608,
        -192
      ],
      "webhookId": "8686813b-fd39-4acb-8188-a268836d817f",
      "credentials": {
        "slackApi": {
          "id": "cCMLEUev5Xx35EXu",
          "name": "Bubble Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3328,
        544
      ],
      "id": "bed6a40f-a807-4329-ac96-af9711e27b11",
      "name": "Wait",
      "webhookId": "eff82fde-cbc4-462f-b46c-311b05a6ac97"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1793713292,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1793713292"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "profileLink",
              "lookupValue": "={{ $json.linkedin }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3728,
        544
      ],
      "id": "fbd8bd1a-904f-4fa8-9af0-a0ff9eef0334",
      "name": "Get Full Data Lead",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw_url = $input.first().json.body.lead.profile_url;\n\nfunction normalizeLinkedInUrl(url) {\n  if (!url || typeof url !== 'string') return '';\n  let s = url.trim();\n  if (!s) return '';\n  // Trailing junk\n  s = s.replace(/\\?+$/g, '').replace(/\\/+$/g, '');\n  // Username only\n  if (!s.includes('/') && !s.includes('.')) {\n    const user = s.replace(/^\\/+|\\/+$/g, '');\n    return 'https://www.linkedin.com/in/' + user;\n  }\n  try {\n    const href = /^https?:\\/\\//i.test(s) ? s : 'https://' + s.replace(/^\\/+/, '');\n    const u = new URL(href);\n    const path = u.pathname.replace(/^\\/+|\\/+$/g, '');\n    const inMatch = path.match(/^in\\/([^/?]+)/i);\n    const companyMatch = path.match(/^company\\/([^/?]+)/i);\n    const out = inMatch\n      ? 'https://www.linkedin.com/in/' + inMatch[1]\n      : companyMatch\n        ? 'https://www.linkedin.com/company/' + companyMatch[1]\n        : 'https://www.linkedin.com/' + path;\n    return out.replace(/\\?+$/g, '').replace(/\\/+$/g, '');\n  } catch (_) {\n    return s;\n  }\n}\n\nreturn { json: { linkedin: normalizeLinkedInUrl(raw_url) } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        544
      ],
      "id": "eae20336-b65e-496d-88e6-f605550c0d97",
      "name": "Normalize Linkedin URL"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "f58b28ef-b24a-4ff9-afd5-71ae4ea07e06",
      "name": "Wait 5s Company",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2176,
        864
      ],
      "webhookId": "16c7963b-d9d6-44c8-a238-9d722eb7032d"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "45397abc-805d-46b1-9dde-e2d9f244319c",
      "name": "Wait 5s Contact",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        528
      ],
      "webhookId": "7a005e96-dcce-4e8b-82a3-cebfbc027fe7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ct1",
              "leftValue": "={{ $json.results ? Object.keys($json.results).length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad0cf05e-0c12-4674-8164-508e388f0aa5",
      "name": "IF Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2096,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e88e1578-bbdf-4442-a958-b023a06f7f4d",
              "name": "repied_status",
              "value": "={{ $json.repied_status }}",
              "type": "string"
            },
            {
              "id": "2e838697-b777-4ccb-8904-0a2b76c34060",
              "name": "postUrl",
              "value": "={{ $json.postUrl }}",
              "type": "string"
            },
            {
              "id": "d13afe09-8c27-4bb1-ba5e-a70dcdc4b7f1",
              "name": "fullname",
              "value": "={{ $json.fullname }}",
              "type": "string"
            },
            {
              "id": "1f8f6a6c-a99c-446c-984a-0c56ceff7450",
              "name": "profileLink",
              "value": "={{ $json.profileLink }}",
              "type": "string"
            },
            {
              "id": "286e4473-01f4-4c5f-8e86-0de61ec0afce",
              "name": "first_name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "9846148c-8869-43dd-abd4-85bc947d3587",
              "name": "last_name",
              "value": "={{ $json.last_name }}",
              "type": "string"
            },
            {
              "id": "12428d60-a120-455e-b745-5ed4da8a9f96",
              "name": "about",
              "value": "={{ $json.about }}",
              "type": "string"
            },
            {
              "id": "76dc7a44-82db-46bd-8738-6b3dddc64625",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            },
            {
              "id": "6e08739a-a78b-468a-87ea-e3f4ec9a37ef",
              "name": "company_website",
              "value": "={{ $json.company_website }}",
              "type": "string"
            },
            {
              "id": "1c11ab75-831f-4341-96d5-afceb7cc3f7f",
              "name": "company_linkedin_url",
              "value": "={{ $json.company_linkedin_url }}",
              "type": "string"
            },
            {
              "id": "8bf2de99-7823-4a85-bde1-7c04b0ca1f02",
              "name": "company_linkedin_description",
              "value": "={{ $json.company_linkedin_description }}",
              "type": "string"
            },
            {
              "id": "1a7f6017-fb80-461f-9fb2-b7bad9d28724",
              "name": "company_linkedin_industry",
              "value": "={{ $json.company_linkedin_industry }}",
              "type": "string"
            },
            {
              "id": "5e8900be-93a0-4e19-8c68-a6a0e3b81838",
              "name": "websearch_industry",
              "value": "={{ $json.websearch_industry }}",
              "type": "string"
            },
            {
              "id": "7b7728de-5837-4ef9-bf06-a6fcf3e07e82",
              "name": "business_model",
              "value": "={{ $json.business_model }}",
              "type": "string"
            },
            {
              "id": "fdcc9f96-2418-493c-9843-da7059c77097",
              "name": "target_customers",
              "value": "={{ $json.target_customers }}",
              "type": "string"
            },
            {
              "id": "b35dcab0-25da-428a-9683-ef0d2130d707",
              "name": "core_services",
              "value": "={{ $json.core_services }}",
              "type": "string"
            },
            {
              "id": "23f3a092-0824-4f08-af9f-ccf75f57881f",
              "name": "geographic_focus",
              "value": "={{ $json.geographic_focus }}",
              "type": "string"
            },
            {
              "id": "f57370b1-4fa8-4cd3-893d-fd379dd35c49",
              "name": "top_pain_point",
              "value": "={{ $json.top_pain_point }}",
              "type": "string"
            },
            {
              "id": "6af4ed67-4976-4b7e-9509-050d0d854821",
              "name": "job_title",
              "value": "={{ ($json.current_experience || '').match(/Title:\\s*([^\\n]+)/)?.[1]?.trim() || '' }}",
              "type": "string"
            },
            {
              "id": "60337755-7b9c-4e7e-9e25-cd114c3030b4",
              "name": "headline",
              "value": "={{ $json.headline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        544
      ],
      "id": "18d51d47-3df0-4582-b910-094cb5014e64",
      "name": "Set Lead Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8c58110-4aee-4247-b7a3-aa6e1615948b",
              "name": "profileLink",
              "value": "={{ $('Set Lead Data').item.json.profileLink }}",
              "type": "string"
            },
            {
              "id": "91be084d-6b09-4551-9725-43b59a879dab",
              "name": "first_name",
              "value": "={{ $('Set Lead Data').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "a608cdbb-4d4f-4ee9-9085-f3696aaae421",
              "name": "last_name",
              "value": "={{ $('Set Lead Data').item.json.last_name }}",
              "type": "string"
            },
            {
              "id": "54cdc4b5-1630-4a38-873c-f8315d314f18",
              "name": "about",
              "value": "={{ $('Set Lead Data').item.json.about }}",
              "type": "string"
            },
            {
              "id": "2b7eaa5d-db3e-4610-bc29-23a4ec86dfef",
              "name": "job_title",
              "value": "={{ $('Set Lead Data').item.json.job_title }}",
              "type": "string"
            },
            {
              "id": "4028b578-87b8-4be8-9715-a8a2b48a0a5e",
              "name": "headline",
              "value": "={{ $('Set Lead Data').item.json.headline }}",
              "type": "string"
            },
            {
              "id": "f3a092a1-f13c-44d2-9c04-b19a556f330b",
              "name": "postUrl",
              "value": "={{ $('Set Lead Data').item.json.postUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06ed4174-dbe2-4505-bb7c-06b6d07df483",
      "name": "Set Contact Data Before Create",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"firstname\": \"{{ $json.first_name }}\",\n    \"lastname\": \"{{ $json.last_name }}\",\n    \"jobtitle\": \"{{ $json.job_title }}\",\n    \"hs_linkedin_url\": \"{{ $json.profileLink }}\",\n    \"about\": {{ $json.about.toJsonString() }},\n    \"source_post_url\": \"{{ $json.postUrl }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1632,
        400
      ],
      "id": "f9de58af-845a-495e-b08f-afe877dc04ad",
      "name": "Create Contact",
      "credentials": {
        "httpBearerAuth": {
          "id": "oHUlFehwDk1w93Hd",
          "name": "AAA Hubspot Engineer UAT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "717eeee1-aba5-4f79-aa9b-63bb7e2efc6c",
              "name": "companyId",
              "value": "={{ $json.results[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        432
      ],
      "id": "10105b37-a067-414a-a34b-3ff1d8223c22",
      "name": "Set Company Id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ct1",
              "leftValue": "={{ $json.results ? Object.keys($json.results).length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "133f2470-93ff-48fa-ade5-764621069d42",
      "name": "IF Deals Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        -96
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "28da69c9-9158-41c0-acf5-1e363c67c2c6",
      "name": "Wait 5s Deals",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -608,
        176
      ],
      "webhookId": "7a005e96-dcce-4e8b-82a3-cebfbc027fe7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"dealname\": \"{{ $json.deal_name }}\",\n    \"dealstage\": \"appointmentscheduled\",\n    \"pipeline\": \"default\"\n  },\n  \"associations\": [\n    {\n      \"to\": {\n        \"id\": \"{{ $json.company_id }}\"\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 341\n        }\n      ]\n    },\n    {\n      \"to\": {\n        \"id\": \"{{ $json.contact_id }}\"\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 3\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        80
      ],
      "id": "b1d8194b-6310-4393-9602-48fce3142fb1",
      "name": "Create Deals",
      "credentials": {
        "httpBearerAuth": {
          "id": "oHUlFehwDk1w93Hd",
          "name": "AAA Hubspot Engineer UAT"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -880,
        -192
      ],
      "id": "28b7d624-c9a6-4bed-9eaa-f0c14e9a341d",
      "name": "Wait1",
      "webhookId": "469fc808-a2a5-476e-b9b3-4311da6af480"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17325f04-b632-4308-a9fd-84e85f9a5814",
              "name": "full_name",
              "value": "={{ $('Set Lead Data').item.json.fullname }}",
              "type": "string"
            },
            {
              "id": "63e7454f-076a-4c8d-8140-0a2bdde7aa0a",
              "name": "deal_name",
              "value": "={{ $json.results[0].properties.dealname }}",
              "type": "string"
            },
            {
              "id": "34a9c781-59bf-4aed-b55e-64bb2a3866a0",
              "name": "deal_link",
              "value": "={{ $json.results[0].url }}",
              "type": "string"
            },
            {
              "id": "d817ccdc-f83c-4d6f-b97e-c2ccee18c528",
              "name": "reply_msg",
              "value": "={{ $('Webhook Data').item.json.replied_msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        -192
      ],
      "id": "28ac3c60-1e86-4891-9087-200c90660107",
      "name": "Set Notification Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acf56936-e575-4f4a-a184-9bdb12f9a52a",
              "name": "company_id",
              "value": "={{ $('Set Company Id').item.json.companyId }}",
              "type": "number"
            },
            {
              "id": "181b42a9-7b44-4088-aa40-c3b9cb555dac",
              "name": "contact_id",
              "value": "={{ $('Set Contact Id').item.json.contact_id }}",
              "type": "string"
            },
            {
              "id": "049c8d2c-b0fc-4016-8849-bcbb7c455c5f",
              "name": "deal_name",
              "value": "=Deal with {{ $('Set Lead Data').item.json.fullname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dbcda79c-fb4a-4b03-95b6-cbf91ea1145b",
      "name": "Set Deal Data Before Create",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6974d3c8-e405-4558-90e7-3b98c760c08e",
              "name": "contact_id",
              "value": "={{ $json.results[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        144
      ],
      "id": "0677c64a-ebe0-4dd0-9d86-770055d523f8",
      "name": "Set Contact Id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"associations.company\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $('Set Company Id').item.json.companyId }}\"\n        }\n      ]\n    }\n  ],  \n  \"limit\": 1\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1584,
        -96
      ],
      "id": "55c21cfc-6aa1-4e34-afcd-8da6c184fd5e",
      "name": "Search Deals",
      "credentials": {
        "httpBearerAuth": {
          "id": "oHUlFehwDk1w93Hd",
          "name": "AAA Hubspot Engineer UAT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"domain\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ ($('Set Lead Data').item.json.company_website || '').replace(/^https?:\\/\\/(?:www\\.)?/i, '').split('/')[0].split('?')[0] }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"domain\",\n    \"name\"\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3120,
        544
      ],
      "id": "a6bbc905-7fc1-4460-b005-0183e4129123",
      "name": "Search Company",
      "credentials": {
        "httpBearerAuth": {
          "id": "oHUlFehwDk1w93Hd",
          "name": "AAA Hubspot Engineer UAT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"hs_linkedin_url\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $('Set Lead Data').item.json.profileLink }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"firstname\",\n    \"lastname\",\n    \"email\",\n    \"hs_linkedin_url\"\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2304,
        272
      ],
      "id": "ac056b81-c3dc-4bc3-a78d-a82abb1c0b19",
      "name": "Search Contact",
      "credentials": {
        "httpBearerAuth": {
          "id": "oHUlFehwDk1w93Hd",
          "name": "AAA Hubspot Engineer UAT"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU",
          "mode": "list",
          "cachedResultName": "Lead Enrich Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1793713292,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUEAb7hb6jUBSFULwJTOaRofhYC42-Qn9-7IwLgc6MU/edit#gid=1793713292"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "repied_status": "DONE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "is_import_to_campagin",
              "displayName": "is_import_to_campagin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "repied_status",
              "displayName": "repied_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_error",
              "displayName": "is_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_error_message",
              "displayName": "is_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_company_url",
              "displayName": "current_company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "open_to_work",
              "displayName": "open_to_work",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_experience",
              "displayName": "current_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin_url",
              "displayName": "company_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin_description",
              "displayName": "company_linkedin_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin_industry",
              "displayName": "company_linkedin_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "websearch_industry",
              "displayName": "websearch_industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "business_model",
              "displayName": "business_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "target_customers",
              "displayName": "target_customers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "core_services",
              "displayName": "core_services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "geographic_focus",
              "displayName": "geographic_focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notable_recognition",
              "displayName": "notable_recognition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "top_pain_point",
              "displayName": "top_pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "personal_report",
              "displayName": "personal_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3520,
        720
      ],
      "id": "53f3a184-3ecd-48a3-a14b-00eefa2dc937",
      "name": "Update Status Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    }
  ],
  "connections": {
    "Webhook HeyReach": {
      "main": [
        [
          {
            "node": "Normalize Linkedin URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Data": {
      "main": [
        [
          {
            "node": "Get Full Data Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Company Found?": {
      "main": [
        [
          {
            "node": "Set Company Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Create Company": {
      "main": [
        [
          {
            "node": "Wait 5s Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Company Data": {
      "main": [
        [
          {
            "node": "HubSpot Create Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Search Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Data Lead": {
      "main": [
        [
          {
            "node": "Set Lead Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Status Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Linkedin URL": {
      "main": [
        [
          {
            "node": "Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s Company": {
      "main": [
        [
          {
            "node": "Search Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s Contact": {
      "main": [
        [
          {
            "node": "Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Contact Found?": {
      "main": [
        [
          {
            "node": "Set Contact Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Contact Data Before Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact Data Before Create": {
      "main": [
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "main": [
        [
          {
            "node": "Wait 5s Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Company Id": {
      "main": [
        [
          {
            "node": "Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Deals Found": {
      "main": [
        [
          {
            "node": "Set Notification Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Deal Data Before Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s Deals": {
      "main": [
        [
          {
            "node": "Search Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deals": {
      "main": [
        [
          {
            "node": "Wait 5s Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Notification Content": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Deal Data Before Create": {
      "main": [
        [
          {
            "node": "Create Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact Id": {
      "main": [
        [
          {
            "node": "Search Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Deals": {
      "main": [
        [
          {
            "node": "IF Deals Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company": {
      "main": [
        [
          {
            "node": "IF Company Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact": {
      "main": [
        [
          {
            "node": "IF Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook HeyReach": [
      {
        "headers": {
          "host": "automationarchitecture.app.n8n.cloud",
          "user-agent": "RestSharp/110.2.0.0",
          "content-length": "1318",
          "accept": "application/json, text/json, text/x-json, text/javascript, application/xml, text/xml",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "63.180.119.255",
          "cf-ew-via": "15",
          "cf-ipcountry": "DE",
          "cf-ray": "9d9993eb19348ed7-FRA",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "traceparent": "00-e7402db8acc93550b1465abd4a44b258-bf0559a4fa89f15f-00",
          "x-forwarded-for": "63.180.119.255, 172.70.243.50",
          "x-forwarded-host": "automationarchitecture.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-35-679675fcf-z9vkv",
          "x-is-trusted": "yes",
          "x-real-ip": "63.180.119.255"
        },
        "params": {},
        "query": {},
        "body": {
          "external_reference": null,
          "recent_messages": [
            {
              "creation_time": "2026-03-09T11:00:45.5334471Z",
              "message": "Hi there",
              "is_reply": false
            },
            {
              "creation_time": "2026-03-09T11:00:45.5334478Z",
              "message": "Oh Hey",
              "is_reply": true
            }
          ],
          "conversation_id": "2-ODYwNmVkNDItMTM2OS00MTVmLWIzYjgtMjE5ZjZjNTE0OTZkXzAxMw==",
          "campaign": {
            "name": "Test Campaign Name",
            "id": 123,
            "status": null
          },
          "sender": {
            "id": 123,
            "first_name": "John",
            "last_name": "Doe",
            "full_name": "John Doe",
            "email_address": "johndoe@test.com",
            "profile_url": "https://www.linkedin.com/company/johndoe"
          },
          "lead": {
            "id": "TestId",
            "profile_url": "https://www.linkedin.com/in/minh-nhat-nguyen-044535242/??",
            "first_name": "John",
            "last_name": "Doe",
            "full_name": "John Doe",
            "location": "Miami, Florida, US",
            "summary": "Test Summary",
            "company_url": "https://example.com/",
            "company_name": "Test Company Name",
            "position": "CEO at Test",
            "about": "Test About",
            "email_address": "johndoe@test.com",
            "enriched_email": null,
            "custom_email": null,
            "tags": [
              "TagTest"
            ],
            "lists": [
              {
                "name": "My List 1",
                "id": 123,
                "custom_fields": {
                  "Favorite_cookie": "Chocolate chip",
                  "Gender": "Male"
                }
              },
              {
                "name": "My List 2",
                "id": 12345,
                "custom_fields": {
                  "Favorite_cookie": "Coconut",
                  "Gender": "Female",
                  "Favorite_sport": "Basketball"
                }
              }
            ]
          },
          "timestamp": "2026-03-09T11:00:45.5336908Z",
          "event_type": "message_reply_received",
          "correlation_id": "00000000-0000-0000-0000-000000000000"
        },
        "webhookUrl": "https://automationarchitecture.app.n8n.cloud/webhook-test/aaa-heyreach-to-hubspot",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea5c0295650c80416bb520af9de6a798604fd397d57287a29050a349ae2b014c"
  }
}