dev/AAA - Linkedin Outreach/AAA - Linkedin Outreach - Dev - Scrape Lead Like and Comments From Target Profiles.json
{
  "updatedAt": "2026-02-27T13:21:48.050Z",
  "createdAt": "2026-02-27T06:07:45.801Z",
  "id": "OpCKglE4l1KETAS8",
  "name": "[AAA - Linkedin Outreach] Scrape Lead Like and Comments From Target Profiles",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        512
      ],
      "id": "848fabc0-f605-4f44-bbdd-cb2a0f587dca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Launch Agent Like Scrape Async').first().json.data;\n\nconst events = raw\n  .split('\\n')\n  .filter(Boolean)\n  .map(line => { try { return JSON.parse(line); } catch { return null; } })\n  .filter(Boolean);\n\nconst summary = events.find(e => e.type === 'summary')?.data || {};\n\nlet resultJsonUrl = null;\nfor (const e of events) {\n  if (e.type !== 'logs') continue;\n  for (const line of e.data) {\n    const match = line.match(/https:\\/\\/[^\\s]+result\\.json/);\n    if (match) { resultJsonUrl = match[0]; break; }\n  }\n  if (resultJsonUrl) break;\n}\n\nreturn {\n  json: {\n    containerId: summary.containerId ?? null,\n    executionTime: summary.executionTime ?? null,\n    exitCode: summary.exitCode ?? null,\n    resultJsonUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        688
      ],
      "id": "5eeb4b44-e0eb-403f-af5e-6f01d91a87a5",
      "name": "Format Output"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Launch Agent Scrape Post').first().json.data;\n\nconst events = raw\n  .split('\\n')\n  .filter(Boolean)\n  .map(line => { try { return JSON.parse(line); } catch { return null; } })\n  .filter(Boolean);\n\nconst summary = events.find(e => e.type === 'summary')?.data || {};\n\nlet resultJsonUrl = null;\nconst errorMessages = [];\n\nfor (const e of events) {\n  if (e.type !== 'logs') continue;\n  for (const line of e.data) {\n    if (!resultJsonUrl) {\n      const match = line.match(/https:\\/\\/[^\\s]+result\\.json/);\n      if (match) resultJsonUrl = match[0];\n    }\n    const errorMatch = line.match(/^\\[error\\].*?Error:(.*)/);\n    if (errorMatch) errorMessages.push(errorMatch[1].trim());\n  }\n}\n\nreturn {\n  json: {\n    containerId: summary.containerId ?? null,\n    executionTime: summary.executionTime ?? null,\n    exitCode: summary.exitCode ?? null,\n    resultJsonUrl,\n    errorMessage: errorMessages.length ? errorMessages.join(' | ') : null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        608
      ],
      "id": "6cf2e149-4306-4a82-8792-9c79e68b86a2",
      "name": "Format Output1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f64cd89-51ce-459c-a8d5-c6834bbc888e",
              "name": "Linkedin_Cookie",
              "value": "AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN",
              "type": "string"
            },
            {
              "id": "b4cb989b-9872-44de-97ae-4c7f5c9e146b",
              "name": "userAgent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
              "type": "string"
            },
            {
              "id": "abbb5bb8-53bf-47f0-b820-f1dac4e64dec",
              "name": "sheet_url_profile",
              "value": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0",
              "type": "string"
            },
            {
              "id": "675062eb-cefe-40d7-a55e-25b0a91fc08b",
              "name": "sheet_url_post_list",
              "value": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=1841275349#gid=1841275349",
              "type": "string"
            },
            {
              "id": "fd4c80c9-b559-4a81-8bed-5f12cc81ab17",
              "name": "post_agent_id",
              "value": "6499206174045718",
              "type": "string"
            },
            {
              "id": "26307ffb-2b6e-4236-ac34-b71d5bd50a15",
              "name": "like_agent_id",
              "value": "5563618829888827",
              "type": "string"
            },
            {
              "id": "e8780672-5cde-412b-8711-cf395436ea67",
              "name": "comment_agent_id",
              "value": "1119435049102111",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        512
      ],
      "id": "79034719-14c0-48d3-b465-a0d2e29a740f",
      "name": "Set Up Variable"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.sheet_url_profile }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Profile_List",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        416
      ],
      "id": "97e654dc-1b84-4f89-90f6-351e9a80b994",
      "name": "Get Profile Data Just To Check",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d890420-e435-42b3-9631-d5ba19164088",
              "name": "agent_id",
              "value": "={{ $('Set Up Variable').item.json.post_agent_id }}",
              "type": "string"
            },
            {
              "id": "4eb79641-d095-4815-960a-718175c23b97",
              "name": "numberMaxOfPosts",
              "value": "5",
              "type": "string"
            },
            {
              "id": "31d1c015-b726-406d-ac23-eaa5468a60ab",
              "name": "columnName",
              "value": "Linkedin Profile Url",
              "type": "string"
            },
            {
              "id": "470c2196-2329-4b69-beb5-de133db2c95a",
              "name": "sheet_url_profile",
              "value": "={{ $('Set Up Variable').item.json.sheet_url_profile }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        608
      ],
      "id": "0e3a6542-b43e-49ca-9c54-3c184da5e544",
      "name": "Agent Setting"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch-sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/x-ndjson"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"id\": \"{{ $json.agent_id }}\",\n    \"argument\": {\n        \"numberOfLinesPerLaunch\": 10,\n        \"numberMaxOfPosts\": {{ $json.numberMaxOfPosts }},\n        \"csvName\": \"result\",\n        \"activitiesToScrape\": [\n            \"Post\"\n        ],\n        \"spreadsheetUrl\": \"{{ $json.sheet_url_profile }}\",\n        \"sessionCookie\": {{ $('Set Up Variable').item.json.Linkedin_Cookie.toJsonString() }},\n        \"userAgent\": \"{{ $('Set Up Variable').item.json.userAgent }}\",\n        \"columnName\": \"{{ $json.columnName }}\"\n    },\n    \"manualLaunch\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        608
      ],
      "id": "30764fc3-ba14-4511-960c-6c22d1f00889",
      "name": "Launch Agent Scrape Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3U0i6R760Bh4MATE",
          "name": "Phantom Buster AAA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.resultJsonUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        512
      ],
      "id": "a3beb805-1fa0-4518-8d25-7b46f3738476",
      "name": "Get Output JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c386c1e-062c-4e9b-be5b-db2d6718b1db",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        608
      ],
      "id": "d38d4c14-76e3-4f5b-86ad-3c1f39d3ec4c",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Format Output1').item.json.errorMessage }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        688,
        704
      ],
      "id": "1adc43b6-c978-426e-a4df-e1b474f38b2d",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "url": "={{ $json.resultJsonUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        592
      ],
      "id": "b894da5c-f1e8-4684-b3f0-1852676383b2",
      "name": "Get Output JSON1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d890420-e435-42b3-9631-d5ba19164088",
              "name": "agent_id",
              "value": "={{ $('Set Up Variable').item.json.like_agent_id }}",
              "type": "string"
            },
            {
              "id": "cb5d42b6-6d9b-4422-827f-e8adf53932a0",
              "name": "columnName",
              "value": "postUrl",
              "type": "string"
            },
            {
              "id": "a2ebb8a7-b44b-4718-b6a6-42308c503290",
              "name": "sheet_url_post_list",
              "value": "={{ $('Set Up Variable').item.json.sheet_url_post_list }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        688
      ],
      "id": "b7290026-a494-4518-be6a-3c4fb8778f09",
      "name": "Agent Setting1",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c386c1e-062c-4e9b-be5b-db2d6718b1db",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1952,
        688
      ],
      "id": "c510b9a4-fc28-4a08-8b71-1a2f80e5c99e",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Format Output').item.json.errorMessage }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2176,
        784
      ],
      "id": "e84aaa31-b01f-47c0-9d9d-dc62ee1caf17",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM",
          "mode": "list",
          "cachedResultName": "AI Automation Influencers — PhantomBuster Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1841275349,
          "mode": "list",
          "cachedResultName": "Post_List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit#gid=1841275349"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "postUrl"
          ],
          "schema": [
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgUrl",
              "displayName": "imgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postContent",
              "displayName": "postContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "likeCount",
              "displayName": "likeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "commentCount",
              "displayName": "commentCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "repostCount",
              "displayName": "repostCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postDate",
              "displayName": "postDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "authorUrl",
              "displayName": "authorUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postTimestamp",
              "displayName": "postTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sharedPostUrl",
              "displayName": "sharedPostUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        512
      ],
      "id": "ac00ffc8-5664-4f6f-adff-b324dc66fef5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch-sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/x-ndjson"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"id\": \"{{ $json.agent_id }}\",\n    \"argument\": {\n        \"csvName\": \"result\",\n        \"sessionCookie\": \"{{ $('Set Up Variable').item.json.Linkedin_Cookie }}\",\n        \"userAgent\": \"{{ $('Set Up Variable').item.json.userAgent }}\",\n        \"postUrl\": \"{{ $json.sheet_url_post_list }}\",\n        \"columnName\": \"{{ $json.columnName }}\",\n        \"watcherMode\": true,\n        \"removeDuplicate\": true\n    },\n    \"manualLaunch\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        688
      ],
      "id": "f7b2e24f-2f87-4bad-b9f1-ddb3271f89b5",
      "name": "Launch Agent Like Scrape Async",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3U0i6R760Bh4MATE",
          "name": "Phantom Buster AAA"
        }
      }
    },
    {
      "parameters": {
        "content": "# Docs\n- Go to phantom buster to get cookie turn on JSON\n- Go to Agent url and get id in /phantom/agent-id",
        "height": 208,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        752
      ],
      "typeVersion": 1,
      "id": "2b9f88a6-0ba0-475d-abc7-7ae56b84239d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Launch Agent Comment Scrape Async1').first().json.data;\n\nconst events = raw\n  .split('\\n')\n  .filter(Boolean)\n  .map(line => { try { return JSON.parse(line); } catch { return null; } })\n  .filter(Boolean);\n\nconst summary = events.find(e => e.type === 'summary')?.data || {};\n\nlet resultJsonUrl = null;\nfor (const e of events) {\n  if (e.type !== 'logs') continue;\n  for (const line of e.data) {\n    const match = line.match(/https:\\/\\/[^\\s]+result\\.json/);\n    if (match) { resultJsonUrl = match[0]; break; }\n  }\n  if (resultJsonUrl) break;\n}\n\nreturn {\n  json: {\n    containerId: summary.containerId ?? null,\n    executionTime: summary.executionTime ?? null,\n    exitCode: summary.exitCode ?? null,\n    resultJsonUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        864
      ],
      "id": "d09d67bc-11fd-4e01-be5e-8ddf4813d68d",
      "name": "Format Output2"
    },
    {
      "parameters": {
        "url": "={{ $json.resultJsonUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3824,
        768
      ],
      "id": "80d20bb1-ef58-4257-ba74-4a5d27c18506",
      "name": "Get Output JSON2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d890420-e435-42b3-9631-d5ba19164088",
              "name": "agent_id",
              "value": "={{ $('Set Up Variable').item.json.comment_agent_id }}",
              "type": "string"
            },
            {
              "id": "cb5d42b6-6d9b-4422-827f-e8adf53932a0",
              "name": "columnName",
              "value": "postUrl",
              "type": "string"
            },
            {
              "id": "a2ebb8a7-b44b-4718-b6a6-42308c503290",
              "name": "sheet_url_post_list",
              "value": "={{ $('Set Up Variable').item.json.sheet_url_post_list }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        864
      ],
      "id": "7982097d-3835-406e-9859-3c782279a5cc",
      "name": "Agent Setting2",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c386c1e-062c-4e9b-be5b-db2d6718b1db",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3600,
        864
      ],
      "id": "f98b8a5c-bd5b-405f-87aa-b3068debaa76",
      "name": "If2"
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Format Output2').item.json.errorMessage }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3824,
        960
      ],
      "id": "d2f4a02e-6487-4d99-8586-2a05397030d7",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM",
          "mode": "list",
          "cachedResultName": "AI Automation Influencers — PhantomBuster Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 135399398,
          "mode": "list",
          "cachedResultName": "Lead_List_Like",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit#gid=135399398"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "profileLink"
          ],
          "schema": [
            {
              "id": "profileLink",
              "displayName": "profileLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "occupation",
              "displayName": "occupation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "degree",
              "displayName": "degree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reactionType",
              "displayName": "reactionType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "memberId",
              "displayName": "memberId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sourceUserId",
              "displayName": "sourceUserId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followersCount",
              "displayName": "followersCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2400,
        592
      ],
      "id": "3ab9cbe0-ff2d-4e24-a692-5a02bbd3d2bb",
      "name": "Append or update row to Save Lead Likes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM",
          "mode": "list",
          "cachedResultName": "AI Automation Influencers — PhantomBuster Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1057586632,
          "mode": "list",
          "cachedResultName": "Lead_List_Comment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit#gid=1057586632"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "profileLink"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4048,
        768
      ],
      "id": "a4280e62-4aa2-4d89-bed5-0bd3d606e77e",
      "name": "Append or update row to Save Lead Comments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nZKgYQBs7qh1MGrj",
          "name": "Engineer AAA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch-sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/x-ndjson"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"id\": \"{{ $json.agent_id }}\",\n    \"argument\": {\n        \"csvName\": \"result\",\n        \"sessionCookie\": \"{{ $('Set Up Variable').item.json.Linkedin_Cookie }}\",\n        \"userAgent\": \"{{ $('Set Up Variable').item.json.userAgent }}\",\n        \"postUrl\": \"{{ $json.sheet_url_post_list }}\",\n        \"columnName\": \"{{ $json.columnName }}\",\n        \"watcherMode\": true,\n        \"removeDuplicate\": true\n    },\n    \"manualLaunch\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3152,
        864
      ],
      "id": "5f603be7-4217-4068-8ec5-71dc0bd6f4c7",
      "name": "Launch Agent Comment Scrape Async1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3U0i6R760Bh4MATE",
          "name": "Phantom Buster AAA"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Up Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Up Variable": {
      "main": [
        [
          {
            "node": "Get Profile Data Just To Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Setting": {
      "main": [
        [
          {
            "node": "Launch Agent Scrape Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Agent Scrape Post": {
      "main": [
        [
          {
            "node": "Format Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Output JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Output JSON": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Setting1": {
      "main": [
        [
          {
            "node": "Launch Agent Like Scrape Async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Output JSON1": {
      "main": [
        [
          {
            "node": "Append or update row to Save Lead Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get Output JSON1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Agent Setting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Agent Like Scrape Async": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Output JSON2": {
      "main": [
        [
          {
            "node": "Append or update row to Save Lead Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Setting2": {
      "main": [
        [
          {
            "node": "Launch Agent Comment Scrape Async1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get Output JSON2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row to Save Lead Likes": {
      "main": [
        [
          {
            "node": "Agent Setting2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Agent Comment Scrape Async1": {
      "main": [
        [
          {
            "node": "Format Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get Output JSON": [
      {
        "json": {
          "postUrl": "https://www.linkedin.com/feed/update/urn:li:activity:7432793400422227969",
          "type": "Video (LinkedIn Source)",
          "videoUrl": "https://dms.licdn.com/playlist/vid/v2/D4E05AQE1kLy0phMS8A/mp4-720p-30fp-crf28/B4EZyaWKJcGsCI-/0/1772116034760?e=1772802000&v=beta&t=HChP91cIaXpWA_T5N8QY4eNHCjhwlCQU5YH8yNqn054",
          "imgUrl": "https://media.licdn.com/dms/image/v2/D4E05AQE1kLy0phMS8A/videocover-low/B4EZyaWKJcGsBU-/0/1772116029338?e=1772802000&v=beta&t=yeOrEFkB50viTW0wlQ6dfU6EAoeqx6CVsq23K1yMFkc",
          "postContent": "Been a minute since I posted one of these - But it's been just over a year hosting/producing the CBS News Radio Entertainment Update! We've had substantial growth and it's now heard on over 100 affiliates across America in cities like Boston, Dallas, Green Bay, DC...annnnnd even in the Bahamas on ZBFR-FM! 🏝️ - Radio Peeps! Below is an example of the content you get daily with the report. If interested in signing up - hit up Amy Bolton for more info! #radio #entertainment #entertainmentnews #popculture #film #movies #hollywood #amfm #newsradio",
          "likeCount": 17,
          "commentCount": 4,
          "repostCount": 0,
          "postDate": "21h",
          "action": "Post",
          "author": "Matt Wolfe",
          "authorUrl": "https://www.linkedin.com/in/mattwolfe",
          "profileUrl": "https://www.linkedin.com/in/mattwolfe/",
          "timestamp": "2026-02-27T12:20:17.415Z",
          "postTimestamp": "2026-02-26T14:27:21.284Z"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "postUrl": "https://www.linkedin.com/feed/update/urn:li:activity:7425304743956180994",
          "sharedPostUrl": "https://variety.com/2026/tv/columns/today-show-nancy-guthrie-disappearance-savannah-1236654001/#recipient_hashed=43020ceb8c2bb189d7b40722dd1ed33fa411472eaaf7e0427cfda5e9d9d6ca92&recipient_salt=ef284539265e79631840a39e32a3e37b5acb8e10847e85fa7c274495ece055d7&utm_medium=email&utm_source=exacttarget&utm_campaign=newsalert&utm_content=662804_02-05-2026&utm_term=17603941?utm_medium=&utm_source=&utm_campaign=&utm_content=&utm_id=",
          "type": "Article",
          "imgUrl": "",
          "postContent": "When work family, IS family. Whether its TV or Radio, journalists, producers, writers, engineers, stage managers, reporters, anchors - all spend countless hours finessing, flexing, crafting and building their respective shows 5-days a week for hours at a clip. It's no small task. If you're lucky, you inevitably share the good and the bad events - the triumphs and inevitable failures. You do it...As. A. Unit. Much love to the NBCUniversal family and the Today Show Staff as they navigate some very uncharted...and yet familiar territory here. #NBC #SavannahGuthrie #NetworkNews #TheTodayShow #MorningShow https://lnkd.in/eyMGTDW8",
          "likeCount": 6,
          "commentCount": 1,
          "repostCount": 0,
          "postDate": "3w",
          "action": "Post",
          "author": "Matt Wolfe",
          "authorUrl": "https://www.linkedin.com/in/mattwolfe",
          "profileUrl": "https://www.linkedin.com/in/mattwolfe/",
          "timestamp": "2026-02-27T12:20:17.416Z",
          "postTimestamp": "2026-02-05T22:30:06.450Z"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "postUrl": "https://www.linkedin.com/feed/update/urn:li:activity:7414698530893832192",
          "sharedPostUrl": "https://variety.com/2026/film/news/cinema-united-warner-bros-sale-netflix-hurt-movie-business-theaters-will-close-1236625088/#recipient_hashed=43020ceb8c2bb189d7b40722dd1ed33fa411472eaaf7e0427cfda5e9d9d6ca92&recipient_salt=ef284539265e79631840a39e32a3e37b5acb8e10847e85fa7c274495ece055d7&utm_medium=email&utm_source=exacttarget&utm_campaign=newsalert&utm_content=656335_01-07-2026&utm_term=17603941?utm_medium=&utm_source=&utm_campaign=&utm_content=&utm_id=",
          "type": "Article",
          "imgUrl": "",
          "postContent": "Starting off 2026 on a high note! 😆 Lots to dig into on all this. Granted how we consume movies has changed - but for many this is a major red flag. Curious to hear your thoughts on the matter and if the merger goes through...WILL Netflix indeed scuttle the traditional release windows and rollouts? #film #cinema #entertainment #netflix #warnerbrothers #popculture #entertainmentnews https://lnkd.in/eZJ7i_mb",
          "likeCount": 5,
          "commentCount": 0,
          "repostCount": 0,
          "postDate": "1mo",
          "action": "Post",
          "author": "Matt Wolfe",
          "authorUrl": "https://www.linkedin.com/in/mattwolfe",
          "profileUrl": "https://www.linkedin.com/in/mattwolfe/",
          "timestamp": "2026-02-27T12:20:17.416Z",
          "postTimestamp": "2026-01-07T16:04:48.202Z"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "postUrl": "https://www.linkedin.com/feed/update/urn:li:activity:7407098498640146432",
          "imgUrl": "https://media.licdn.com/dms/image/v2/D4E22AQFQBUjSqjnBdw/feedshare-shrink_800/B4EZstM07DHoAo-/0/1765989897977?e=1773878400&v=beta&t=zk5vL8u_nXdkQDS3ClQC2ASTkRdL1lTJqLYWIk89q6A",
          "type": "Image",
          "postContent": "🎄Final post here for 2025! Gratitude to all these iconic brands for allowing me to play radio in their space and let me run amok with news, traffic, weather, music and entertainment content! Laskov, I. Chris Lloyd Amy Bolton Jessica D'Agostin Ben Mevorach Katelin Tinley truly... what are you all thinking? 😂 See you in 2026! #radio #terrestrialradio #1010WINS #WBAB #WBLI #radioexpress #cbsnewsradio #entertainmentnews #popculture #newsradio #musicradio",
          "likeCount": 126,
          "commentCount": 4,
          "repostCount": 0,
          "postDate": "2mo",
          "action": "Post",
          "author": "Matt Wolfe",
          "authorUrl": "https://www.linkedin.com/in/mattwolfe",
          "profileUrl": "https://www.linkedin.com/in/mattwolfe/",
          "timestamp": "2026-02-27T12:20:17.417Z",
          "postTimestamp": "2025-12-17T16:44:59.311Z"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "postUrl": "https://www.linkedin.com/feed/update/urn:li:activity:7402429484546609153",
          "type": "Video (LinkedIn Source)",
          "videoUrl": "blob:https://www.linkedin.com/ede29ada-13fb-47be-a89e-017ceb5d3f89",
          "imgUrl": "https://media.licdn.com/dms/image/v2/D4E05AQGTfSDLHPpypw/videocover-low/B4EZrq2UwnGYBU-/0/1764876705851?e=1772802000&v=beta&t=b2NTDJFWYTjO_T-2z8tPjkzRYsytI4L4co4x9RAfTJA",
          "postContent": "⬇️ ⬇️  They say put your mind to it, envision it, manifest it. Welp. Something worked! Myself and the Radio Express team are beyond happy to finally announce the start of Trendline: A new syndicated entertainment news feature targeting English-language radio stations in the UK and Europe - coming in early 2026! Have a look at the crazy-good intro video put together by the Radio Express team with outstanding camera/field work by Tony Spina and Erin Leonard (and no, that NYC shot is NOT AI! 😆 ) Huge thanks to Jessica D'Agostin, Laskov, I. and Paul Hollins for having faith in this pop-culture obsessed nutcase to bring something like this to life. Details in the comments, and if you want to know more, DM Jessica D'Agostin! #trendline #radioexpress #radio #entertainmentnews #popculture #film #music #streaming #movies #entertainment #interviews #europe #radiofreeeurope⬇️ ⬇️",
          "likeCount": 70,
          "commentCount": 27,
          "repostCount": 2,
          "postDate": "2mo",
          "action": "Post",
          "author": "Matt Wolfe",
          "authorUrl": "https://www.linkedin.com/in/mattwolfe",
          "profileUrl": "https://www.linkedin.com/in/mattwolfe/",
          "timestamp": "2026-02-27T12:20:17.419Z",
          "postTimestamp": "2025-12-04T19:31:59.605Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Launch Agent Scrape Post": [
      {
        "json": {
          "data": "{\"type\":\"heartbeat\"}\n{\"type\":\"logs\",\"data\":[\"(node:1) NOTE: The AWS SDK for JavaScript (v2) will enter maintenance mode\",\"on September 8, 2024 and reach end-of-support on September 8, 2025.\",\"Please migrate your code to use AWS SDK for JavaScript (v3).\",\"For more information, check blog post at https://a.co/cUPnyil\",\"(Use `node --trace-warnings ...` to show where the warning was created)\",\"* Container 4753397182218346 started in br-scw-nl-nh-1-thenn (Fri Feb 27 2026 12:21:49 GMT+0000 (Coordinated Universal Time))\",\"* Storage: Using bucket: phantombuster (environment: prod)\"]}\n{\"type\":\"logs\",\"data\":[\"* Got dependency LinkedIn Activity Extractor.js\",\"* Spawning Node v16.20.2\",\"* Storage: Using bucket: phantombuster (environment: prod)\",\"* using version 1.784.0\"]}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:21:50.795: Rate limiting requests to 30 rqs per 60s\",\"[debug]🐛 12:21:50.800: debug mode on\",\"[debug]🐛 12:21:50.922: Got agentObject: {\",\"[debug]  '.originalSessionCookie': [\",\"[debug]    'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN'\",\"[debug]  ]\",\"[debug]}\",\"[debug]🐛 12:21:50.923: args {\",\"[debug]  numberOfLinesPerLaunch: 10,\",\"[debug]  numberMaxOfPosts: 5,\",\"[debug]  csvName: 'result',\",\"[debug]  activitiesToScrape: [\",\"[debug]    'Post'\",\"[debug]  ],\",\"[debug]  spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0',\",\"[debug]  sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]  userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]  columnName: 'Linkedin Profile Url'\",\"[debug]}\",\"[load_]🔄 Connecting to LinkedIn...\",\"[debug]🐛 12:21:51.025: scriptLimitRequirements undefined\",\"[debug]🐛 12:21:51.486: Got Identity {\",\"[debug]  id: '8888588077815045',\",\"[debug]  orgId: '4713326315443609',\",\"[debug]  type: 'linkedin',\",\"[debug]  firstName: 'Brad',\",\"[debug]  lastName: 'Wilcox',\",\"[debug]  profileUrl: 'https://linkedin.com/in/brad-wilcox-473aa137b',\",\"[debug]  profileId: '1576311639',\",\"[debug]  userId: '',\",\"[debug]  activeCredentials: [\",\"[debug]    {\",\"[debug]      sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]      userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]      savedAt: 1768832436671\",\"[debug]    }\",\"[debug]  ],\",\"[debug]  subscriptionTitles: [\",\"[debug]    'Basic (free)'\",\"[debug]  ]\",\"[debug]}\",\"[debug]🐛 12:21:51.564: Listening for  response  on page  about:blank\",\"[debug]🐛 12:21:51.565: Listening for  response  on page  about:blank\",\"[debug]🐛 12:21:51.565: Listening for  response  on page  about:blank\"]}\n{\"type\":\"heartbeat\"}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:21:58.257: waitForSelectors() selectors [\",\"[debug]  '#global-nav, header:has(#linkedin-bug-blue-medium)',\",\"[debug]  '#email-pin-challenge'\",\"[debug]]\"]}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:01.897: received response  from url  https://www.linkedin.com/psettings/policy/notices?types=COMMENTS_VISIBILITY&types=TRACK_LIKE_FOR_PERSONALIZATION&types=SHARING_POST_VISIBILITY_FOR_PERSONALIZATION&types=POST_VISBILE_ON_GROUP&types=EASY_APPLY_PHONE_NUMBER&types=RESUME_UPLOAD&types=MESSAGE_CONTROL&types=SMART_REPLIES&types=MANAGE_CONTACT_PAGE&types=MY_NETWORK_PAGE&types=REGISTRATION_FLOW_PROFILE_VISIBILITY&types=EDIT_FEED_ACTIVITY&types=SAVE_SEARCH_FOR_PERSONALIZATION&types=FIELDS_VISIBLE_ON_PROFILE&types=PUBLIC_VISIBILITY_ON_PROFILE&types=LOCATION_VISIBLE_ON_PROFILE&types=CONTROL_PROFILE_PHOTO&types=KEEPING_ORIGINAL_PHOTO_ON_PROFILE&types=CONTROL_DOWNLOADABLE_PROFILE_SECTIONS&types=CONTACT_INFO_VISIBILITY&types=CONTROL_PROFILE_VISIBILITY\",\"[debug]🐛 12:22:01.915: received response  from url  https://www.linkedin.com/voyager/api/graphql?includeWebMetadata=true&variables=()&queryId=voyagerFeedDashGlobalNavs.250bb4d999ff9443357d2c67df7f9067\",\"[debug]🐛 12:22:01.985: Intercepted data from response matching predicate\"]}\n{\"type\":\"heartbeat\"}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:09.382: ARE: page-event-interception-timeout {\",\"[debug]  isWorker: false,\",\"[debug]  argument: {\",\"[debug]    numberOfLinesPerLaunch: 10,\",\"[debug]    numberMaxOfPosts: 5,\",\"[debug]    csvName: 'result',\",\"[debug]    activitiesToScrape: [\",\"[debug]      'Post'\",\"[debug]    ],\",\"[debug]    spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0',\",\"[debug]    sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]    userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]    columnName: 'Linkedin Profile Url'\",\"[debug]  },\",\"[debug]  props: {\",\"[debug]    pageUrl: 'https://www.linkedin.com/feed/',\",\"[debug]    error: 'Error: Timeout exceeded while waiting for a response on \\\"https://www.linkedin.com/feed/\\\" (10000ms)',\",\"[debug]    message: 'Timeout reached',\",\"[debug]    timeoutMs: 10000\",\"[debug]  }\",\"[debug]} all\",\"[debug]🐛 12:22:09.382:  🧪 Enabled experiments: ada-phase-3-team-users, binary-enable-signup-lock, add-user-in-perso-workspace, companies, ada-phase-2, multi-identities, ada-phase-3-pro-users, obfuscated-result-table-copy-paste, cancel-steps-improved, ada-help-widget\",\"[debug]🐛 12:22:09.488: Timeout waiting for voyagerIdentityUserProfile (fallback available): Timeout exceeded while waiting for a response on \\\"https://www.linkedin.com/feed/\\\" (10000ms)\",\"[debug]🐛 12:22:09.488: userData {\",\"[debug]  firstName: 'Brad',\",\"[debug]  lastName: 'Wilcox',\",\"[debug]  publicIdentifier: 'brad-wilcox-473aa137b',\",\"[debug]  profileUrl: 'https://linkedin.com/in/brad-wilcox-473aa137b',\",\"[debug]  entityUrn: 'ACoAAF30m1cBgIIBmeJFmeCB97hVBKUclZ1OoT4',\",\"[debug]  profilePictureUrl: undefined,\",\"[debug]  profileId: '',\",\"[debug]  objectUrn: ''\",\"[debug]}\",\"[debug]🐛 12:22:09.488: Intercepted data from response matching predicate\",\"[debug]🐛 12:22:09.490: Got profileId 1576311639\",\"[debug]🐛 12:22:09.491: myProfile {\",\"[debug]  firstName: 'Brad',\",\"[debug]  lastName: 'Wilcox',\",\"[debug]  publicIdentifier: 'brad-wilcox-473aa137b',\",\"[debug]  profileUrl: 'https://linkedin.com/in/brad-wilcox-473aa137b',\",\"[debug]  entityUrn: 'ACoAAF30m1cBgIIBmeJFmeCB97hVBKUclZ1OoT4',\",\"[debug]  profilePictureUrl: undefined,\",\"[debug]  profileId: '1576311639',\",\"[debug]  objectUrn: '',\",\"[debug]  sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]  userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36'\",\"[debug]}\",\"[debug]🐛 12:22:09.491: saving {\",\"[debug]  id: '8888588077815045',\",\"[debug]  orgId: '4713326315443609',\",\"[debug]  type: 'linkedin',\",\"[debug]  firstName: 'Brad',\",\"[debug]  lastName: 'Wilcox',\",\"[debug]  profileUrl: 'https://linkedin.com/in/brad-wilcox-473aa137b',\",\"[debug]  profileId: '1576311639',\",\"[debug]  userId: '',\",\"[debug]  subscriptionTitles: [\",\"[debug]    'Basic (free)'\",\"[debug]  ],\",\"[debug]  profilePictureUrl: undefined\",\"[debug]}\",\"[debug]🐛 12:22:09.569: Identity saved {\",\"[debug]  id: '8888588077815045',\",\"[debug]  orgId: '4713326315443609',\",\"[debug]  type: 'linkedin',\",\"[debug]  firstName: 'Brad',\",\"[debug]  lastName: 'Wilcox',\",\"[debug]  profileUrl: 'https://linkedin.com/in/brad-wilcox-473aa137b',\",\"[debug]  profileId: '1576311639',\",\"[debug]  userId: '',\",\"[debug]  activeCredentials: [\",\"[debug]    {\",\"[debug]      sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]      userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]      savedAt: 1768832436671\",\"[debug]    }\",\"[debug]  ],\",\"[debug]  subscriptionTitles: [\",\"[debug]    'Basic (free)'\",\"[debug]  ]\",\"[debug]}\",\"[debug]🐛 12:22:09.667: Identity credentials updated {\",\"[debug]  identityId: '8888588077815045',\",\"[debug]  activeCredentials: [\",\"[debug]    {\",\"[debug]      sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]      userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]      savedAt: 1768832436671\",\"[debug]    }\",\"[debug]  ]\",\"[debug]}\",\"[debug]🐛 12:22:09.743: events tracked 1 out of 1\",\"[debug]🐛 12:22:09.743: LinkedIn profile id for current user: 1576311639\",\"[debug]🐛 12:22:09.744: RE: network-cookie-valid {\",\"[debug]  var1: 'LinkedIn',\",\"[debug]  var2: 'Brad Wilcox',\",\"[debug]  props: {\",\"[debug]    isWorker: false,\",\"[debug]    argument: {\",\"[debug]      numberOfLinesPerLaunch: 10,\",\"[debug]      numberMaxOfPosts: 5,\",\"[debug]      csvName: 'result',\",\"[debug]      activitiesToScrape: [\",\"[debug]        'Post'\",\"[debug]      ],\",\"[debug]      spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0',\",\"[debug]      sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]      userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]      columnName: 'Linkedin Profile Url'\",\"[debug]    },\",\"[debug]    identityId: '8888588077815045',\",\"[debug]    linkedInUsername: 'Brad Wilcox',\",\"[debug]    linkedInProfileId: '1576311639',\",\"[debug]    cookieHash: 'TtftpvcvSv6+SrS0E6EnMRJ5a2kWqJ1Au2rxHMHT13Q='\",\"[debug]  }\",\"[debug]}\",\"[done_]✅ Connected successfully as Brad Wilcox\"]}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:10.062: ARE: multi-identity-setup {\",\"[debug]  isWorker: false,\",\"[debug]  argument: {\",\"[debug]    numberOfLinesPerLaunch: 10,\",\"[debug]    numberMaxOfPosts: 5,\",\"[debug]    csvName: 'result',\",\"[debug]    activitiesToScrape: [\",\"[debug]      'Post'\",\"[debug]    ],\",\"[debug]    spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0',\",\"[debug]    sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]    userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]    columnName: 'Linkedin Profile Url'\",\"[debug]  },\",\"[debug]  totalIdentitiesRequested: 1,\",\"[debug]  totalIdentitiesConnected: 1,\",\"[debug]  totalRateLimitProtectedIdentities: 0\",\"[debug]} all\"]}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:15.892: Rate limiting requests to 10 rqs per 1s\",\"[debug]🐛 12:22:15.892: using identity Brad Wilcox\",\"[debug]🐛 12:22:15.893: 📚 lib-LinkedIn-pptr - getInputType() -  https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0  -> Input type:  {\",\"[debug]  isUrl: true,\",\"[debug]  isLinkedIn: false,\",\"[debug]  isSpreadsheet: true\",\"[debug]}\",\"[load_]🔄 Getting data from https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0...\",\"[done_]✅ Got 1 line from csv.\",\"[info_]ℹ️ Your \\\"File management\\\" setting is currently on \\\"Delete previous files\\\", this Phantom may not be able to continue its job where it left off next launch. Consider changing it to \\\"Combine files\\\".\",\"[info_]ℹ️ Extracting up to 5 posts per input.\",\"[info_]ℹ️ Inputs to process: [\",\"[info_]    \\\"https://www.linkedin.com/in/mattwolfe/\\\"\",\"[info_]]\",\"[debug]🐛 12:22:16.524: Init Auto-Save\",\"[debug]🐛 12:22:16.635: 📚 lib-LinkedIn-pptr - getInputType() -  https://www.linkedin.com/in/mattwolfe/  -> Input type:  {\",\"[debug]  isUrl: true,\",\"[debug]  isLinkedIn: true,\",\"[debug]  isRegular: true,\",\"[debug]  isProfile: true\",\"[debug]}\",\"[debug]🐛 12:22:16.635: Scraping all activities\",\"[debug]🐛 12:22:16.636: 📚 lib-LinkedIn-pptr - getInputType() -  https://www.linkedin.com/in/mattwolfe/  -> Input type:  {\",\"[debug]  isUrl: true,\",\"[debug]  isLinkedIn: true,\",\"[debug]  isRegular: true,\",\"[debug]  isProfile: true\",\"[debug]}\",\"[debug]🐛 12:22:16.636: getActivities() numberMaxOfPosts 5 activitiesToScrape [\",\"[debug]  'Post'\",\"[debug]]\",\"[load_]🔄 Loading activities of https://www.linkedin.com/in/mattwolfe/...\",\"[debug]🐛 12:22:16.655: Rate limiting requests to 10 rqs per 1s\"]}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:17.195: profile: {\",\"[debug]  id: '17251285',\",\"[debug]  firstName: 'Matt',\",\"[debug]  lastName: 'Wolfe',\",\"[debug]  description: 'Accomplished content creator and radio broadcaster with background in entertainment, news, commercial production/imaging, content curation and music programming. Multi-platform proficiency in terrestrial, streaming, satellite and podcasting production, programming and development. \\\\n\\\\nProven leader with extensive knowledge of best practices in radio advertising, sound engineering and imaging, providing unparalleled service to clients and internal/external stakeholders, generating revenue and maintaining client accounts.  \\\\n\\\\nSpecialties include full-line content formation of award-winning short and long-form programs for national distribution, (Audio, video shorts and short-form online articles), talent interviews, podcasts, entertainment & pop culture expertise and analysis. \\\\n\\\\n#radio\\\\n#entertainment\\\\n#radioprogramming\\\\n#contentdevelopment\\\\n#contentcuration\\\\n#radioadvertising\\\\n#broadcastjournalism\\\\n#journalism\\\\n#marketing\\\\n#promotion\\\\n#sounddesign\\\\n#audioproduction\\\\n#audiorecording\\\\n#digitalmedia\\\\n#broadcastmedia\\\\n#contentcreation\\\\n#adobeaudition',\",\"[debug]  headline: 'Award-winning audio content producer/host, voice-over professional. Entertainment Reporter for CBS News Radio & Anchor for 1010 WINS NY. Traffic & News Reporter for WBAB/WBLI FM',\",\"[debug]  urn: 'ACoAAAEHO9UBpiQ5xvG1jJmXeRWb51l5KosLwVA',\",\"[debug]  slug: 'mattwolfe',\",\"[debug]  imageUrl: 'https://media.licdn.com/dms/image/v2/D4E03AQFBqcYE6Ri05Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1733154888903?e=1773878400&v=beta&t=VgqaLIYCep2txwonpbP6HFDb4O6NM0BdHj1jloNlGb4',\",\"[debug]  imageUrn: 'urn:li:digitalmediaAsset:D4E03AQFBqcYE6Ri05Q',\",\"[debug]  location: 'New York City Metropolitan Area',\",\"[debug]  countryCode: 'us'\",\"[debug]}\",\"[debug]🐛 12:22:17.197: Listening for  response  on page  https://www.linkedin.com/feed/\",\"[load_]🔄 Loading Posts...\",\"[debug]🐛 12:22:17.199: activityUrl https://www.linkedin.com/in/mattwolfe/recent-activity/shares\",\"[debug]🐛 12:22:17.200: 📚 lib-LinkedIn.web - openLinkedInUrl():  https://www.linkedin.com/in/mattwolfe/recent-activity/shares\"]}\n{\"type\":\"heartbeat\"}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:20.060: checking if wrong\",\"[debug]🐛 12:22:20.133: received response  from url  https://www.linkedin.com/voyager/api/graphql?includeWebMetadata=true&variables=(profileUrn:urn%3Ali%3Afsd_profile%3AACoAAAEHO9UBpiQ5xvG1jJmXeRWb51l5KosLwVA,sectionType:content-collections)&queryId=voyagerIdentityDashProfileComponents.7e354263db82a0ad715b25a6346abade\",\"[debug]🐛 12:22:20.174: Intercepted data from response matching predicate\",\"[debug]🐛 12:22:20.293: interceptedFeedTypes [\",\"[debug]  'ALL_POSTS',\",\"[debug]  'COMMENTS',\",\"[debug]  'VIDEOS',\",\"[debug]  'IMAGES_AND_MULTI_PHOTOS',\",\"[debug]  'REACTIONS'\",\"[debug]]\",\"[debug]🐛 12:22:20.513: newPostCount 0\"]}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:22.696: newPostCount 5\",\"[debug]🐛 12:22:22.697: Elapsed:  2207\",\"[info_]ℹ️ 5 posts loaded.\"]}\n{\"type\":\"logs\",\"data\":[\"[debug]🐛 12:22:24.857: activityResultsL 5\",\"[done_]✅ Got 5 posts from https://www.linkedin.com/in/mattwolfe/\",\"[debug]🐛 12:22:24.960: events tracked 5 out of 5\",\"[debug]🐛 12:22:24.960: ARE: linkedin-activities-success {\",\"[debug]  isWorker: false,\",\"[debug]  argument: {\",\"[debug]    numberOfLinesPerLaunch: 10,\",\"[debug]    numberMaxOfPosts: 5,\",\"[debug]    csvName: 'result',\",\"[debug]    activitiesToScrape: [\",\"[debug]      'Post'\",\"[debug]    ],\",\"[debug]    spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0',\",\"[debug]    sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]    userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]    columnName: 'Linkedin Profile Url'\",\"[debug]  },\",\"[debug]  identityId: '8888588077815045',\",\"[debug]  linkedInUsername: 'Brad Wilcox',\",\"[debug]  linkedInProfileId: '1576311639',\",\"[debug]  count: 5,\",\"[debug]  query: 'https://www.linkedin.com/in/mattwolfe/',\",\"[debug]  currentUrl: 'https://www.linkedin.com/in/mattwolfe/recent-activity/all/',\",\"[debug]  activitySource: 'profile',\",\"[debug]  isInWorkerMode: false\",\"[debug]} all\",\"[debug]🐛 12:22:25.064: displayLORE() 5 result found\",\"[debug]🐛 12:22:25.064: LRE: {\",\"[debug]  type: 'success',\",\"[debug]  title: '5 results found',\",\"[debug]  text: '5 results were found.',\",\"[debug]  props: {\",\"[debug]    isWorker: false,\",\"[debug]    argument: {\",\"[debug]      numberOfLinesPerLaunch: 10,\",\"[debug]      numberMaxOfPosts: 5,\",\"[debug]      csvName: 'result',\",\"[debug]      activitiesToScrape: [\",\"[debug]        'Post'\",\"[debug]      ],\",\"[debug]      spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1_6IvwNb8yK61n8jK7nGiXUGLWAkpOR5n7WTGjgNxysM/edit?gid=0#gid=0',\",\"[debug]      sessionCookie: 'AQEDAV30m1cCo7EzAAABmRmuxhEAAAGb5CZoQU0AcKbI-oD9IVRnGCC2s9fzmpReCfFk2ZlHuQf_CIDVu7jBoTEHo4zntptWLtPuDv8PPCniwcEZcjEiDVmZhw0xY_n4BGhu7VrbjjT8J8HrD6S1RlkN',\",\"[debug]      userAgent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\",\"[debug]      columnName: 'Linkedin Profile Url'\",\"[debug]    },\",\"[debug]    identityId: '8888588077815045',\",\"[debug]    linkedInUsername: 'Brad Wilcox',\",\"[debug]    linkedInProfileId: '1576311639'\",\"[debug]  }\",\"[debug]}\",\"[load_]🔄 Saving data...\",\"[debug]🐛 12:22:25.146: stringifiedL 6782\",\"[debug]🐛 12:22:25.489: newJsonExportL 5970\",\"[done_]✅ CSV saved at https://phantombuster.s3.amazonaws.com/n1ougeqBNnw/3Njsz5eMLgUxMRWUXflI7w/result.csv\",\"[done_]✅ JSON saved at https://phantombuster.s3.amazonaws.com/n1ougeqBNnw/3Njsz5eMLgUxMRWUXflI7w/result.json\",\"[done_]✅ Data successfully saved!\",\"* Process finished successfully (exit code: 0) (Fri Feb 27 2026 12:22:25 GMT+0000 (Coordinated Universal Time))\"]}\n{\"type\":\"summary\",\"data\":{\"containerId\":\"4753397182218346\",\"executionTime\":37475,\"exitCode\":0}}\n"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "10dd532a-e71d-4646-b6d7-fb6a9efa31cc",
  "activeVersionId": null,
  "versionCounter": 100,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-27T06:07:45.813Z",
      "createdAt": "2026-02-27T06:07:45.813Z",
      "role": "workflow:owner",
      "workflowId": "OpCKglE4l1KETAS8",
      "projectId": "JNBCQ8yj8IGyBMFc",
      "project": {
        "updatedAt": "2025-10-16T10:10:07.615Z",
        "createdAt": "2025-10-16T10:10:04.040Z",
        "id": "JNBCQ8yj8IGyBMFc",
        "name": "Engineering Team <engineer@automationarchitecture.ai>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9a64c033-ffc9-41e6-a191-376ec8544b77"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}